.projects-desktop {


    @media screen and (max-width: $mobile-large) {
      margin-top: 4rem;
    }

    .desktop {
      background-image: url("../img/projects/desktop.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 64rem;
      height: 50rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: $laptop-medium) {
        background-size: 89rem;
        height: 64rem;
      }

      @media screen and (max-width: $laptop-small) {
        background-size: 46rem;
        height: 60rem;
      }

      @media screen and (max-width: $tablet-medium) {
        background-size: 30rem;
        height: 30rem;
      }

      .logo, .pagina, .icon {
        position: relative;
      }
      .logo-mobile {
        @media screen and (min-width: $mobile-large) {
          display: none;
        }
      }

      .logo {
        height: 2.5rem;
        left: -21.5rem;
        top: 8rem;
        width: 9rem;

        @media screen and (min-width: $laptop-medium) {
          height: 3.5rem;
          left: -30rem;
          width: 12rem;
        }

        @media screen and (max-width: $laptop-small) {
          height: 2rem;
          left: -15.5rem;
          top: 7.7rem;
          width: 6rem;
        }

        @media screen and (max-width: $tablet-medium) {
          height: 1.5rem;
          left: -10rem;
          top: 6.9rem;
          width: 4.3rem;
        }
      }

      .pagina {
        height: 32rem;
        left: 0.3rem;
        top: 8rem;
        width: 60rem;

        @media screen and (min-width: $laptop-medium) {
          height: 45rem;
          left: 0.3rem;
          top: 8rem;
          width: 80rem;
        }

        @media screen and (max-width: $laptop-small) {
          height: 22rem;
          width: 43rem;
        }

        @media screen and (max-width: $tablet-medium) {
          height: 14.5rem;
          width: 28rem;
          left: 0.2rem;
          top: 7rem;
        }
      }

      .icon {
        display: flex;
        left: 19rem;
        top: -1.5rem;
        width: 19rem;

        @media screen and (min-width: $laptop-medium) {
          left: 31rem;
        }

        @media screen and (max-width: $laptop-small) {
          left: 12rem;
          top: -1.5rem;
          width: 19rem;
        }

        @media screen and (max-width: $tablet-medium) {
          left: 8rem;
          top: -1.5rem;
          width: 12rem;
        }

        .icon-movile {
          left: 2rem;
          position: relative;
          top: 2.5rem;

          @media screen and (max-width: $tablet-medium) {
            left: 0rem;
            top: 1.5rem;
            width: 5rem;
          }
        }

        .icon-tablet {
          @media screen and (max-width: $tablet-medium) {
            left: -1rem;
            position: relative;
            width: 8rem;
          }
        }

        .more {
          left: -5rem;
          position: relative;
          top: 11rem;

          @media screen and (max-width: $tablet-medium) {
            left: -6rem;
            top: 9rem;
          }
        }
      }
    }

    .text {
      left: -7rem;
      margin: 0 auto;
      position: relative;
      top: -5rem;
      width: 45rem;

      @media screen and (min-width: $laptop-medium) {
        width: 62rem;
      }

      @media screen and (max-width: $laptop-small) {
        margin-top: -16rem;
        top: 0;
        width: 25rem;
      }

      @media screen and (max-width: $tablet-medium) {
        margin-top: 0rem;
        left: 0rem;
        width: 80%;
      }

      @media screen and (max-width: $mobile-large) {
        width: 83%;
        margin-left: 11%;
        margin-top: 1rem;
      }

        h2 {
          font-family: $quicksand_regular;
          color: $red;
          font-size: 2rem;
          font-weight: bold;
          line-height: 130%;

          @media screen and (max-width: $laptop-small) {
            font-size: 1.3rem;
          }
          @media screen and (max-width: $mobile-large) {
            font-size: 1.5rem;
          }
        }

        p {
          font-size: 1.7rem;
          line-height: 130%;
          @media screen and (max-width: $laptop-small) {
            font-size: 1.1rem;
          }
          @media screen and (max-width: $mobile-large) {
            font-size: 1.3rem;
          }
        }
    }
  }
