.header-projects {
  background-image: url("../img/projects/fondo_rojo_hero.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -3rem;

  @media screen and (max-width: $mobile-large) {
    background-size: 370%;
    background-position-x: center;
  }

  .content-header {
    position: relative;
    margin: 0 auto;
    width: 94%;

    @media screen and (max-width: $mobile-large) {
      margin-bottom: 23rem;
    }

    .text-header {
      position: absolute;
      top: 36%;
      left: 9%;
      z-index: 1;

      @media screen and (min-width: $laptop-large) {
        top: 26%;
      }
      @media screen and (min-width: $laptop-medium) and (max-width: $laptop-large) {
        top: 30%;
      }
      @media screen and (max-width: $laptop-medium) {
        top: 28%;
        left: 10%;
      }
      @media screen and (max-width: $laptop-small) {
        top: 26%;
        left: 10%;
      }
      @media screen and (max-width: $tablet-large) {
        top: 40%;
        left: 11%;
      }
      @media screen and (max-width: $tablet-medium) {
        top: 36%;
        left: 10%;
      }
      @media screen and (max-width: $tablet-small) {
        top: 47%;
      }
      @media screen and (max-width: $mobile-large) {
        top: 38%;
        left: 16%;
      }

      .title {

        p {
          font-size: 4rem;

          @media screen and (min-width: $laptop-large) {
            font-size: 5.5rem;
          }
          @media screen and (min-width: $laptop-medium) and (max-width: $laptop-large) {
            font-size: 4.5rem;
          }
          @media screen and (max-width: $laptop-medium) {
            font-size: 3.5rem;
          }
          @media screen and (max-width: $laptop-small) {
            font-size: 2.5rem;
          }
          @media screen and (max-width: $tablet-large) {
            font-size: 2rem;
          }
          @media screen and (max-width: $tablet-small) {
            font-size: 1.5rem;
          }
          @media screen and (max-width: $mobile-large) {
            font-size: 2.3rem;
          }
          @media screen and (max-width: $mobile-medium) {
            font-size: 2rem;
          }
          @media screen and (max-width: $mobile-small) {
            font-size: 1.8rem;
          }
        }
      }

      .subtitle {

        p {
          font-size: 6rem;
          font-weight: bold;

          @media screen and (min-width: $laptop-large) {
            font-size: 9rem;
          }
          @media screen and (min-width: $laptop-medium) and (max-width: $laptop-large) {
            font-size: 7.5rem;
          }
          @media screen and (max-width: $laptop-medium) {
            font-size: 5.5rem;
          }
          @media screen and (max-width: $laptop-small) {
            font-size: 4.5rem;
          }
          @media screen and (max-width: $tablet-large) {
            font-size: 3.5rem;
          }
          @media screen and (max-width: $tablet-medium) {
            font-size: 3.3rem;
          }
          @media screen and (max-width: $tablet-small) {
            font-size: 2.5rem;
          }
          @media screen and (max-width: $mobile-large) {
            font-size: 3.8rem;
          }
          @media screen and (max-width: $mobile-medium) {
            font-size: 3.1rem;
          }
          @media screen and (max-width: $mobile-small) {
            font-size: 3rem;
          }
        }
      }

      h1 {
        color: $yellow;
        font-size: 10rem;

        @media screen and (min-width: $laptop-large) {
          font-size: 15.5rem;
        }
        @media screen and (min-width: $laptop-medium) and (max-width: $laptop-large) {
          font-size: 13.5rem;
        }
        @media screen and (max-width: $laptop-medium) {
          font-size: 9.5rem;
        }
        @media screen and (max-width: $laptop-small) {
          font-size: 8.5rem;
        }
        @media screen and (max-width: $tablet-large) {
          font-size: 6.5rem;
        }
        @media screen and (max-width: $tablet-medium) {
          font-size: 5.8rem;
        }
        @media screen and (max-width: $tablet-small) {
          font-size: 4.5rem;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 6.5rem;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 6.3rem;
        }
        @media screen and (max-width: $mobile-small) {
         font-size: 5.5rem;
        }
      }
    }

    .frame-text {
      position: absolute;
      top: -6rem;
      left: -24%;
      width: 87%;

      @media screen and (max-width: $laptop-medium) {
        top: -3rem;
      }
      @media screen and (max-width: $tablet-large) {
        top: -1rem;
        left: -24%;
      }
      @media screen and (max-width: $tablet-medium) {
        top: -1rem;
      }
      @media screen and (max-width: $tablet-small) {
        top: 0rem;
      }
      @media screen and (max-width: $mobile-large) {
        top: 0rem;
        left: -39%;
        width: 142%;
      }
      @media screen and (max-width: $mobile-medium) {
        width: 141%;
        left: -38%;
      }
      @media screen and (max-width: $mobile-small) {
        left: -6.8rem;
        width: 136%;
      }
    }

    .icon-header {
      position: relative;
      top: 2rem;
      left: 47%;
      width: 51%;

      @media screen and (max-width: $tablet-large) {
        top: 3rem;
        left: 46%;
      }
      @media screen and (max-width: $mobile-large) {
        top: 19rem;
        left: 8%;
        width: 81%;
      }
    }
  }

  .desktop-projects {
    margin: 0 auto;
    width: 100%;

    @media screen and (max-width: $mobile-large) {
      margin-top: 4rem;
    }

    .logo-project{
      width: 34%;
      margin-left: 5%;
      @media screen and (min-width: $mobile-large) {
         display: none;
      }
    }

    .back {
      position: relative;
      .desktop {
        width: 95%;
        margin-left: 3%;
        margin-top: 13%;

        @media screen and (max-width: $mobile-large) {
           margin-top: inherit;
        }
      }

      .logo{
        position: absolute;
        margin-left: 12%;
        margin-top: 16%;
        width: 13%;
        z-index: 1;

        @media screen and (max-width: $mobile-large) {
          margin-top: 3%;
        }
      }

      .pagina{
        position: absolute;
        margin-left: -78%;
        margin-top: 21%;
        width: 58%;
        z-index: -1;

        @media screen and (max-width: $mobile-large) {
          margin-top: 8%;
          z-index: -0;
          margin-left: -92%;
          width: 90%;
          height: 80%;
        }
      }
    }

    .icon {
      position: relative;
      margin-top: -17%;
      margin-left: 67%;
      z-index: 0;

      @media screen and (max-width: $mobile-large) {
        margin-top: -36%;
        margin-left: 46%;
      }

      .icon-movile {
        width: 19%;
        @media screen and (max-width: $mobile-large) {
          width: 25%;
        }
      }

      .icon-table {
        width: 44%;
        @media screen and (max-width: $mobile-large) {
          width: 56%;
        }
      }

      .more {
        width: 14%;
        margin-left: -13%;

        @media screen and (max-width: $tablet-medium) {
          width: 18%;
          margin-left: -15%;
        }

        @media screen and (max-width: $mobile-large) {
          width: 30%;
          margin-left: -25%;
        }
      }
    }

    .text {
      margin: 0 auto;
      width: 62%;
      margin-left: 6%;
      margin-top: -1rem;

      @media screen and (max-width: $tablet-small) {
        margin-top: -1rem;
      }

      @media screen and (max-width: $mobile-large) {
        width: 83%;
        margin-left: 11%;
        margin-top: 1rem;
      }

        h2 {
          font-family: $quicksand_regular;
          color: $red;
          font-size: 2rem;
          font-weight: bold;
          line-height: 130%;

          @media screen and (max-width: $laptop-small) {
            font-size: 1.5rem;
          }
          @media screen and (max-width: $mobile-large) {
            font-size: 1.5rem;
          }
        }

        p {
          font-size: 1.7rem;
          line-height: 130%;
          @media screen and (max-width: $laptop-small) {
            font-size: 1.3rem;
          }
          @media screen and (max-width: $mobile-large) {
            font-size: 1.3rem;
          }
        }
    }
  }
}
