.header-projects {
  background-image: url("../img/projects/fondo_rojo_hero.svg");
  background-repeat: no-repeat;
  background-size: 103%;
  height: 44rem;
  position: relative;
  top: -3rem;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $mobile-large) {
    background-size: 370%;
    background-position-x: center;
  }

  .content-header {
    background-image: url("../img/projects/cuadro_texto_hero.svg");
    background-position: center 0rem;
    background-repeat: no-repeat;
    background-size: 48rem 40rem;
    width: 40rem;
    height: 32rem;
    padding: 12rem 0 0 14rem;
    p {
      font-size: 3rem;

      &:nth-child(2) {
        font-size: 5rem;
      }
    }

    h1 {
      color: $yellow;
      font-size: 9rem;
      text-shadow: -1px 0 $brown, 0 1px $brown, 1px 0 $brown, 0 -1px $brown;
    }

  }
  .icon-header {
    width: 36rem;
    margin: -9rem 0 0 -6rem;
  }
}
