.header-projects {
  align-items: center;
  background-image: url("../img/projects/fondo_rojo_hero.svg");
  background-repeat: no-repeat;
  background-size: 103%;
  display: flex;
  height: 48rem;
  justify-content: center;
  margin-bottom: -10rem;
  position: relative;
  top: -3rem;

  @media screen and (min-width: $laptop-large) {
    height: 66rem;
  }

  @media screen and (min-width: $laptop-medium) and (max-width: $laptop-large) {
    height: 53rem;
  }

  @media screen and (max-width: $mobile-large) {
    background-size: 370%;
    background-position-x: center;
  }

  .content-header {
    background-image: url("../img/projects/cuadro_texto_hero.svg");
    background-position: -9rem 0rem;
    background-repeat: no-repeat;
    background-size: 48rem 40rem;
    width: 40rem;
    height: 32rem;
    padding: 12rem 0 0 10rem;
    p {
      font-size: 3rem;

      &:nth-child(2) {
        font-size: 5rem;
      }
    }

    h1 {
      color: $yellow;
      font-size: 9rem;
      text-shadow: -1px 0 $brown, 0 1px $brown, 1px 0 $brown, 0 -1px $brown;
    }

  }
  .icon-header {
    width: 35rem;
    margin: 5rem 0 0 -10rem;
  }
}
