<footer class="footer-{{$root.activeSection}}">
  <div class="background-section"
    ng-show="$root.activeSection != 'we-are' &&  $root.activeSection !='quienes-somos'" >
    <div class="footer-title">
      <div class="h2">Podemos hablar</div>
      <div class="linea"></div>
    </div>

    <div class="footer-content" >
      <form class="contact-form" name="contact"
        ng-submit="submit()"
        ng-class="{ sending : contact.$send }">
        <div class="form-group">
          <input id="name" type="text" required
            ng-disabled="contact.$send"
            ng-model="contact.value.Name">
          <label for="name">*Nombre</label>
        </div>
        <div class="form-group">
          <input id="email" type="email" required
            ng-disabled="contact.$send"
            ng-model="contact.value.Email" >
          <label for="email">*Correo electrónico</label>
        </div>
        <div class="form-group">
          <input id="number" type="number"
            ng-disabled="contact.$send"
            ng-model="contact.value.Number">
          <label for="number">Número de contacto</label>
        </div>
        <div class="form-group">
          <textarea id="mesg" cols="30" rows="10" required
            ng-disabled="contact.$send"
            ng-model="contact.value.Message"></textarea>
          <label for="mesg">*Mensaje</label>
        </div>

        <label class="more">*Campo obligatorio</label><br>
        <div class="wrapper-btn">
          <button class="button" type="submit"
            ng-disabled="contact.$send">Enviar</button>
        </div>


        <dialog class="dialog" open>
          <div>Gracias las del mico!</div>
        </dialog>
      </form>

      <div class="line"></div>

      <div class="contact-info">

        <h2 class="info-title" ng-if="$root.activeSection == 'home'">Contacto</h2>
        <div class="info-title" ng-if="$root.activeSection != 'home'">Contacto</div>

        <div class="info">
          <div class="field">
            <div class="field-content">
              <p><span class="field-text">Nuestro correo: </span><a href="mailto:info@simian.co">info@simian.co</a></p>
            </div>
          </div>

          <div class="field">
            <div class="field-content">
              <p><span class="field-text">Nuestro número: </span><a href="tel:+573115992255">‭311 599-2255‬</a></p>
            </div>
          </div>

          <div class="sociales field">
            <div class="field-content social">
              <p>Encuéntranos en:</p>
              <ul class="social-icons">
                <li>
                  <a href="https://www.facebook.com/simianlab/" target="_blank" rel="nofollow">
                    <img lazy="../img/footer/icon-facebook.svg" alt="facebook">
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/simianlab" target="_blank" rel="nofollow">
                    <img lazy="../img/footer/icon-twitter.svg" alt="twitter">
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/user/SimianLab" target="_blank" rel="nofollow">
                    <img lazy="../img/footer/icon-youtube.svg" alt="youtube">
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/3550206" target="_blank" rel="nofollow">
                    <img lazy="../img/footer/icon-linkedin.svg" alt="linkedin">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-end">
    <img lazy="../img/footer/banano-footer.svg" alt="">
    <p>© {{year}} Simian</p>
  </div>
</footer>
