.home section {
  @include pie-clearfix;
}

.hide {
  display: none;
}

#logo {
  width: 60%;
  height: 40%; // This is required for the object.
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-image: url(/images/mainPicture.svgz);
  background-position: center;
  background-position-y: 12em;
  background-repeat: no-repeat;
  background-size: 86%;
  height: 35rem;
  position: relative;

  &:after {
    display: block;
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 10em;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(255, 255, 255, 1));
  }

  @media screen and (max-width: $tablet) {
    background-position-y: 3.5rem;
    background-size: 220%;
    height: 20rem;

    a {
      margin-top: 10%;
    }
  }
}

.title {
  a {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    width: 7rem;
    font-size: 1rem;
  }
}

h1 {
  margin-bottom: 1.5rem;

  @media screen and (max-width: $tablet) {
    font-size: 1.85rem;
    line-height: 1;
  }
}

#what-we-do {
  margin-left: auto;
  margin-right: auto;
  max-width: 62.5rem;
  padding: 1.5em 0;
  width: 100%;

  div {
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: $tablet) {
      //margin: 0;
      //padding: 0;
    }
  }

  p, h2 {
    padding: 0 1rem;
  }

  .envision {
    //background-image:url(/images/analysis.svg);
  }

  .analysis {
    position: relative;

    &:after {
      content: '';
      width: 100%;
      height: 15rem;
      position: absolute;
      background-image: url(/images/analysis.svg);
      opacity: 0.20;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: 8rem;
    }
  }

  .design {
    //background-image:url(/images/analysis.svg);
  }

  .development {
    //background-image:url(/images/analysis.svg);
    //background-size: 35%;
  }

  .mantain {
    position: relative;

    &:after {
      content: '';
      width: 100%;
      height: 15rem;
      position: absolute;
      background-image: url(/images/mantain.svg);
      opacity: 0.20;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: -1rem;
    }
  }

  .description {
    padding-left: 2%;
    padding-right: 2%;
    width: 60%;

    @media screen and (max-width: $tablet) {
      width: 100%;
    }

    h2 {
      margin: .67em 0;
    }
  }

  .right {
    //background-position-x: left;
    //overflow: hidden;
    padding: 0;

    figure {
      float: left;
    }
    .description {
      float: right;
    }
  }

  .left {
    //background-position-x: right;
    //background-position: 90%;
    //overflow: hidden;
    padding: 0;

    figure {
      float: right;
    }
    .description {
      float: left;
    }
  }
}

#recent-work {
  background-color: $gray;
  padding: 3% 10%;

  div {
    float: left;
    margin-top: 20px;
    width: 50%;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  p {
    color: white;
    text-align: center;

    @media screen and (max-width: $tablet) {
      font-size: 0.9em;
      line-height: 140%;
    }
  }
}

#clients-say {
  margin-left: auto;
  margin-right: auto;
  max-width: 62.5rem;
  padding: 10% 0;
  width: 100%;

  .client {
    float: left;
    position: relative;
    width: 50%;

    @media screen and (max-width: 568px) {
      width: 100%;
    }

    h1 {
      margin-bottom: 5%;
    }

    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 1em;
    }
  }
}

#process {
  img {
    width: 100%;
  }
}

#team {
  margin-left: auto;
  margin-right: auto;
  max-width: 62.5rem;
  overflow: hidden;
  padding: 1.5em 0;
  width: 100%;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  p {
    text-align: center;
  }

  .left, .right {
    padding: 0;
    width: 50%;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}
