.topbar {
	overflow: hidden;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	position: fixed;
	top: 0;
	width: 100%;

	.menu-button, .contact-link {
		background-color: white;
		border-color: $gray-menu;
		border-radius: 50%;
		border-style: solid;
		border-width: 1px;
		padding: 7px 10px;
	}

	.icon-list, .icon-mail {
		color: $gray-menu;
		font-size: 1.4em
	}

	.menu-button {		
		float: left;		
	}

	.contact-link {
		float: right;		
	}
}