.home section {
  @include clearfix();
}

.hide {
  display: none;
}

#logo {
  display: block;
  margin: 0 auto;
  max-width: 27rem;
  width: 60%;
}

header {
  background-image: url(/images/mainPicture.svg);
  background-position: center 3.5rem;
  background-repeat: no-repeat;
  background-size: 220%;
  position: relative;

  @media screen and (min-width: 43rem) {
    background-size: 180%;
  }

  @media screen and (min-width: 53rem) {
    background-position: center 7rem;
    background-size: 150%;
  }

  @media screen and (min-width: 58rem) {
    background-size: 140%;
  }

  @media screen and (min-width: 64rem) {
    background-size: 120%;
  }

  @media screen and (min-width: 68rem) {
    background-position: center 8rem;
    background-size: 100%;
  }

  &:after {
    @include background-image (linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)));
    bottom: 0;
    content: '';
    display: block;
    height: 12em;
    width: 100%;

    @media screen and (min-width: 27rem) {
      height: 13em;
    }

    @media screen and (min-width: 30rem) {
      height: 14em;
    }

    @media screen and (min-width: 37rem) {
      height: 18em;
    }

    @media screen and (min-width: 43rem) {
      height: 15em;
    }

    @media screen and (min-width: 53rem) {
      height: 18em;
    }

    @media screen and (min-width: 64rem) {
      height: 15em;
    }

    @media screen and (min-width: 78rem) {
      height: 16em;
    }

    @media screen and (min-width: 84rem) {
      height: 20em;
    }

    @media screen and (min-width: 96rem) {
      height: 23em;
    }

    @media screen and (min-width: 105rem) {
      height: 25em;
    }

    @media screen and (min-width: 118rem) {
      height: 30em;
    }
  }
}

h1 {
  font-size: 1.85rem;
  line-height: 1;
  margin: 0px auto 2rem;
  width: 18rem;

  @media screen and (min-width: 35rem) {
    font-size: 2.75rem;
    width: 27rem;
  }
}

.title {
  a {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    width: 7rem;
    font-size: 1rem;
    @media screen and (min-width: 35rem) {
      width: 8rem;
      font-size: 1.25rem;
    }
  }
}

#what-we-do {
  margin: 0 auto;
  max-width: 62.5rem;
  padding: 1.5em 0;
  width: 100%;

  div {
    padding: 12rem 0 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    @include clearfix();
    @media screen and (min-width: 35rem) {
      padding: 0;
    }
  }

  p, h2 {
    padding: 0 1rem;

    @media screen and (min-width: 35rem) {
      padding: 0 2rem;
    }
  }

  h2 {
    @media screen and (min-width: 37rem) {
      font-size: 2.25rem;
    }
  }

  .left {
    float: none;
    @media screen and (min-width: 35rem) {
      text-align: left;
    }
  }

  .right {
    float: none;
    @media screen and (min-width: 35rem) {
      text-align: right;
    }
  }

  .description {
    width: 100%;

    @media screen and (min-width: 35rem) {
      width: 60%;
    }

    @media screen and (min-width: 37rem) {
      font-size: 1.25rem;
    }

    &.left {
      @media screen and (min-width: 35rem) {
        float: left;
      }
    }

    &.right {
      @media screen and (min-width: 35rem) {
        float: right;
      }
    }
  }

  .envision {
      position: relative;
      margin: 2rem 0 2rem 0;

      @media screen and (min-width: 35rem) {
        margin: 3rem 0 3rem 0;
      }

      &:before {
        content: '';
        width: 100%;
        height: 13rem;
        position: absolute;
        background-image: url(/images/envision.svg);
        opacity: 0.5;
        top: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1; // So it doesn't go on top of the text

        @media screen and (min-width: 35rem){
          background-position: 1rem -1rem;
          height: 15rem;
        }

        @media screen and (min-width: 62rem) {
          background-position: 1rem 0;
        }
      }
  }

  .analysis {
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 13rem;
      position: absolute;
      background-image: url(/images/analysis.svg);
      opacity: 0.5;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center -1rem;
      z-index: -1; // So it doesn't go on top of the text

      @media screen and (min-width: 35rem) {
        background-position: 20rem 0;
        height: 15rem;
      }

      @media screen and (min-width: 40rem) and (orientation: landscape) {
        background-position: 22rem 0;
      }

      @media screen and (min-width: 42rem) {
        background-position: 25rem 0;
      }

      @media screen and (min-width: 49rem) {
        background-position: 30rem 0;
      }

      @media screen and (min-width: 55rem) {
        background-position: 35rem 0;
      }
    }
  }

  .design {
      position: relative;
      margin: 0;

      @media screen and (min-width: 35rem) {
        margin: 3rem 0 3rem 0;
      }

      &:before {
        content: '';
        width: 100%;
        height: 15rem;
        position: absolute;
        background-image: url(/images/design.svg);
        opacity: 0.5;
        top: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center -3rem;
        z-index: -1; // So it doesn't go on top of the text

        @media screen and (min-width: 35rem){
          background-position: 2rem -3rem;
        }

        @media screen and (min-width: 62rem) {
          background-position: 1rem -4rem;
        }
      }
  }

  .development {
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 11rem;
      position: absolute;
      background-image: url(/images/development.svg);
      opacity: 0.5;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      z-index: -1; // So it doesn't go on top of the text

      @media screen and (min-width: 35rem) {
        background-position: 19rem 0;
        height: 15rem;
      }

      @media screen and (min-width: 40rem) and (orientation: landscape) {
        background-position: 22rem 0;
      }

      @media screen and (min-width: 42rem) {
        background-position: 25rem 0;
      }

      @media screen and (min-width: 49rem) {
        background-position: 30rem 0;
      }

      @media screen and (min-width: 55rem) {
        background-position: 35rem 0;
      }
    }
  }

  .mantain {
    position: relative;
    margin: 0 0 3rem 0;

    @media screen and (min-width: 35rem) {
      margin: 3rem 0 3rem 0;
    }

    &:before {
      content: '';
      width: 100%;
      height: 13rem;
      position: absolute;
      background-image: url(/images/maintenance.svg);
      opacity: 0.5;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      z-index: -1; // So it doesn't go on top of the text

      @media screen and (min-width: 35rem){
        background-position: 1rem -1rem;
        height: 15rem;
      }

      @media screen and (min-width: 62rem) {
        background-position: 1rem 0;
      }
    }
  }
}

#recent-work {
  background-color: $gray;
  padding: 3% 10%;

  div {
    float: left;
    margin-top: 20px;
    width: 50%;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  p {
    color: white;
    text-align: center;

    font-size: 0.9em;
    line-height: 140%;
  }
}

#clients-say {
  margin-left: auto;
  margin-right: auto;
  max-width: 62.5rem;
  padding: 10% 0;
  width: 100%;

  .client {
    float: left;
    position: relative;
    width: 100%;

    h1 {
      margin-bottom: 5%;
    }

    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 1em;
    }
  }
}

#process {
  img {
    width: 100%;
  }
}

#portfolio {
  background-color: #e8e8e8;
  padding: 0 5%;
  padding-top: 1rem;

  .clients {
    figure {
      float: left;
      width: 33%;

      @media screen and (max-width: $tablet) {
        width: 50%;
      }

      figcaption {
        font-style: normal;
        text-align: center;
      }
    }
    //Just right for mobiles
    .right-mobile{
      @media screen and (max-width: $tablet) {
        float: right;
      }
    }
  }  
}

#team {
  margin: 0 auto;
  max-width: 62.5rem;
  overflow: hidden;
  padding: 1.5em 0;
  width: 100%;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  p {
    text-align: center;
  }

  .left, .right {
    padding: 0 1rem;
    width: 50%;

    @media screen and (min-width: 35rem) {
      padding: 0 2rem;
    }

    @media screen and (min-width: 37rem) {
      padding: 0 3rem;
    }

    @media screen and (min-width: 48rem) {
      width: 25%;
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  } 
  .sebastian{
    margin-left: 0;
    @media screen and (min-width: 48rem) {
      margin-left: 25%;
    }
  }
  .natalia{
    margin-right: 0;
    @media screen and (min-width: 48rem) {
      margin-right: 25%;
    }
  }
}
