.home section {
  @include pie-clearfix;
}

.hide {
  display: none;
}

#logo {
  display: block;
  margin: 0 auto;
  max-width: 27rem;
  width: 60%;
}

header {
  background-image: url(/images/mainPicture.svgz);
  background-position: center 3.5rem;
  background-repeat: no-repeat;
  background-size: 220%;
  position: relative;

  &:after {
    // TODO: Compass this
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    bottom: 0;
    content: '';
    display: block;
    height: 12em;
    width: 100%;

    @media screen and (min-width: 27rem) {
      height: 13em;
    }

    @media screen and (min-width: 30rem) {
      height: 14em;
    }

    @media screen and (min-width: 37rem) {
      height: 18em;
    }

    @media screen and (min-width: 43rem) {
      height: 22em;
    }
  }
}

h1 {
  font-size: 1.85rem;
  line-height: 1;
  margin: 0px auto 2rem;
  width: 18rem;

  @media screen and (min-width: 31rem) {
    font-size: 2.75rem;
    width: 27rem;
  }
}

.title {
  a {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    width: 7rem;
    font-size: 1rem;
    @media screen and (min-width: 31rem) {
      width: 8rem;
      font-size: 1.25rem;
    }
  }
}

#what-we-do {
  margin: 0 auto;
  max-width: 62.5rem;
  padding: 1.5em 0;
  width: 100%;

  div {
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    @include pie-clearfix();
  }

  p, h2 {
    padding: 0 1rem;

    @media screen and (min-width: 31rem) {
      padding: 0 2rem;
    }
  }

  h2 {
    @media screen and (min-width: 37rem) {
      font-size: 2.25rem;
    }
  }

  .left {
    float: none;
    @media screen and (min-width: 31rem) {
      text-align: left;
    }
  }

  .right {
    float: none;
    @media screen and (min-width: 31rem) {
      text-align: right;
    }
  }

  .description {
    width: 100%;

    @media screen and (min-width: 31rem) {
      width: 60%;
    }

    @media screen and (min-width: 37rem) {
      font-size: 1.25rem;
    }

    &.left {
      @media screen and (min-width: 31rem) {
        float: left;
      }
    }

    &.right {
      @media screen and (min-width: 31rem) {
        float: right;
      }
    }
  }

  .envision {
    //background-image:url(/images/analysis.svg);
  }

  .analysis {
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 15rem;
      position: absolute;
      background-image: url(/images/analysis.svg);
      opacity: 0.20;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 8rem 0;

      @media screen and (min-width: 30rem) {
        background-position: 12rem 0;
      }

      @media screen and (min-width: 40rem) and (orientation: landscape) {
        background-position: 20rem 0;
      }
    }
  }

  .design {
    //background-image:url(/images/analysis.svg);
  }

  .development {
    //background-image:url(/images/analysis.svg);
  }

  .mantain {
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 15rem;
      position: absolute;
      background-image: url(/images/mantain.svg);
      opacity: 0.20;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: -1rem 0;
    }
  }
}

#recent-work {
  background-color: $gray;
  padding: 3% 10%;

  div {
    float: left;
    margin-top: 20px;
    width: 50%;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  p {
    color: white;
    text-align: center;

    font-size: 0.9em;
    line-height: 140%;
  }
}

#clients-say {
  margin-left: auto;
  margin-right: auto;
  max-width: 62.5rem;
  padding: 10% 0;
  width: 100%;

  .client {
    float: left;
    position: relative;
    width: 100%;

    h1 {
      margin-bottom: 5%;
    }

    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 1em;
    }
  }
}

#process {
  img {
    width: 100%;
  }
}

#team {
  margin: 0 auto;
  max-width: 62.5rem;
  overflow: hidden;
  padding: 1.5em 0;
  width: 100%;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  p {
    text-align: center;
  }

  .left, .right {
    padding: 0 1rem;
    width: 50%;

    @media screen and (min-width: 31rem) {
      padding: 0 2rem;
    }

    @media screen and (min-width: 37rem) {
      padding: 0 3rem;
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}
