/*------------------------------------*\
    $BUTTONS
    \*------------------------------------*/
    .btn {
    	//background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($green), to(#85BE08)) !important;
      @include background(linear-gradient($green, #85BE08) !important); /* Standard syntax */
    	border: 0 !important;
    	box-shadow: 1px 1px 3px #7AAB0F;
    	-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
    	border-radius: 5px;
    	color: $white;
    	display: inline-block;
    	font-family: $font;
    	font-size: 0.8em;
    	font-weight: 300;
    	line-height: 1;
    	padding: 7px 15px;
    	text-align: center;

    	&:hover, &:focus {
    		//background: $gray;
    		color: $white;
    	}

    	&.disabled {
    		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C2E080), to(#AAC869));
    		box-shadow: 1px 1px 3px #95B159;
    	}
    }

    .alt{
    		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($blue), to(#1E807F));
    		box-shadow: 1px 1px 3px #228B8A;
    	}

    .btn-small {
    	padding: $pad-half;
    }

    .btn-large {
    	padding: $pad-half;
    	text-transform: uppercase;
    	background: $gray;
    	font-size: 1.4rem;
    	font-weight: normal;
    }


    .text-btn {
    	font-style: italic;
    }
