<header>
  <div class="desktop" ng-show="myVar">

  <div class="simian">
    <a href="" ng-href="/{{$root.language}}/">
      <img src="../img/header/logo-simian.png" alt="">
    </a>
  </div>

    <div class="menu" ng-click="toggle()">
      <span ></span>
      <span></span>
      <span></span>
    </div>
    <nav ng-hide="activeSection == '404'" ng-show="true">
      <ul>
        <li>
          <a ng-href="{{$root.getLink('we-do', 'que-hacemos')}}"
          ng-class="{active: activeSection == 'we-do' || activeSection == 'que-hacemos'}">
            {{ 'WE-DO' | translate }}
            <span></span>
          </a>
        </li>
        <li>
          <a ng-href="{{$root.getLink('projects', 'proyectos')}}"
          ng-class="{active: activeSection == 'projects' || activeSection == 'proyectos'}">
            {{ 'PROJECTS' | translate }}
            <span></span>
          </a>
        </li>
        <li>
          <a ng-href="{{$root.getLink('clients', 'clientes')}}"
          ng-class="{active: activeSection == 'clients' || activeSection == 'clientes'}">
            {{ 'CLIENTS' | translate }}
            <span></span>
          </a>
        </li>
        <!--<li>
          <a ng-href="{{$root.getLink('we-are', 'quienes-somos', { monkey: 'sergio-acosta' })}}"
          ng-class="{active: activeSection == 'we-are' || activeSection == 'quienes-somos'}">
            {{ 'WE-ARE' | translate }}
            <span></span>
          </a>
        </li>
        <li>
          <a ng-href="{{$root.getLink('location', 'ubicacion')}}"
          ng-class="{active: activeSection == 'location' || activeSection == 'ubicacion'}">
            {{ 'LOCATION' | translate }}
            <span></span>
          </a>
        </li>
        <li>
          <a ng-href="{{$root.getLink('we-share', 'compartimos')}}"
          ng-class="{active: activeSection == 'we-share' || activeSection == 'compartimos'}">
            {{ 'WE-SHARE' | translate }}
            <span></span>
          </a>
        </li>-->
      </ul>
    </nav>

    <div class="header-buttons" ng-hide="activeSection == '404'">
      <!--<a href="http://blog.simian.co/" target="_blank">
        <img src="../img/header/our-blog.svg" alt="">
      </a>-->
      <a href="" ng-click="changeLanguage('es')">
        Español
      </a>
      <a href="" ng-click="changeLanguage('en')">
        English
      </a>
    </div>
  </div>

  <div class="movile" ng-show='youVar'>

    <div class="header">

      <img class="close" src="../img/header/x_cerrar.svg" ng-click="toggle()" alt="">

      <div class="header-buttons" ng-hide="activeSection == '404'">
        <a href="http://blog.simian.co/" target="_blank">
          <img class="blog" src="../img/header/our-blog.svg" alt="">
        </a>
        <a href="" ng-click="changeLanguage('es')">
          <img class="idioma" src="../img/header/es-button.svg" alt="">
        </a>
        <a href="" ng-click="changeLanguage('en')">
          <img class="idioma" src="../img/header/en-button.svg" alt="">
        </a>
    </div>

  </div>

    <nav ng-hide="activeSection == '404'" ng-show="true">
      <ul>
        <li class="hide-inicio">
          <a ng-href="{{$root.language}}/" ng-click="toggle()">
          {{ 'HOME' | translate }}
          </a>
        </li>
        <li>
          <a ng-href="{{$root.getLink('we-do', 'que-hacemos')}}" ng-click="toggle()"
          ng-class="{active: activeSection == 'we-do' || activeSection == 'que-hacemos'}">
          {{ 'WE-DO' | translate }}</a>
        </li>
        <li>
          <a ng-href="{{$root.getLink('projects', 'proyectos')}}" ng-click="toggle()"
          ng-class="{active: activeSection == 'projects' || activeSection == 'proyectos'}">
          {{ 'PROJECTS' | translate }}</a>
        </li>
        <li>
          <a ng-href="{{$root.getLink('clients', 'clientes')}}" ng-click="toggle()"
          ng-class="{active: activeSection == 'clients' || activeSection == 'clientes'}">
          {{ 'CLIENTS' | translate }}</a>
        </li>
        <li>
          <a ng-href="{{$root.getLink('we-are', 'quienes-somos', { monkey: 'sergio-acosta' })}}" ng-click="toggle()"
          ng-class="{active: activeSection == 'we-are' || activeSection == 'quienes-somos'}">
          {{ 'WE-ARE' | translate }}</a>
        </li>
        <li>
          <a ng-href="{{$root.getLink('location', 'ubicacion')}}" ng-click="toggle()"
          ng-class="{active: activeSection == 'location' || activeSection == 'ubicacion'}">
          {{ 'LOCATION' | translate }}</a>
        </li>
        <li>
          <a ng-href="{{$root.getLink('we-share', 'compartimos')}}" ng-click="toggle()"
          ng-class="{active: activeSection == 'we-share' || activeSection == 'compartimos'}">
          {{ 'WE-SHARE' | translate }}</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

