footer {
  overflow: hidden;
}

.contact-form {
  float: left;
  padding: 5% 2%;
  width: 50%;

  padding: 7%;
  width: 100%;

  input, textarea {
    margin-bottom: 10px;
  }

  textarea {
    min-height: 10rem;
  }

  .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    font-size: 1rem;
  }
}

.mail-social {
  float: right;
  padding-top: 12%;
  width: 50%;

  float: none;
  width: 100%;

  h2 {
    font-size: 4em;
    margin: 3% 0;
    text-align: center;

    a {
      color: $blue;
    }


    font-size: 2em;

  }

  span {
    font-size: 5em;
    margin: 12px;

    &:hover {
      color: $gray-menu;
    }

    font-size: 2em;
    margin: 5px;
  }

  .social-networks{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;

    width: 75%;
  }

  .location {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 75%;

    margin-bottom: 10%;

    h2 {
      text-align: center;
    }

    .icon-location {
      font-size: 2rem;
      color: white;
      margin: 0;
    }
  }
}

#contact-hidden {
  display: none;
}
