<footer>
  <div class="contact-form">
    <h1 id="Contact">Contact Us</h1>
    <form action="http://contactMailer/contact" method="post">
      <fieldset>
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" placeholder="Write your full name" ng-model="contact.name" ng-minlength="3" required>
        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email" placeholder="We don't spam!" ng-model="contact.email" ng-minlength="3" required>
        <label for="Message">Message:</label>
        <textarea id="Message" name="Message" placeholder="Write your message :)" ng-model="contact.message" ng-minlength="3" required></textarea>
      </fieldset>   
      <input type="submit" class="btn" value="Send Message">
    </form>
  </div>
</footer>