<footer ng-controller="footerController">
  <div class="contact-form">
    <h1 id="Contact">{{ 'CONTACT_HEADLINE' | translate }}</h1>
    <form action="{{CONTACT_ROUTE}}" method="post">
      <div id="contact-name">
        <label>{{ 'NAME_LABEL' | translate }}</label>
        <input type="text" id="Name" name="Name" placeholder="{{ 'NAME_PLACEHOLDER' | translate }}"
          ng-model="contact.name" ng-minlength="3" required>
      </div>
      <div id="contact-email">
        <label>{{ 'EMAIL_LABEL' | translate }}</label>
        <input type="email" id="Email" name="Email" placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}"
          ng-model="contact.email" ng-minlength="3" required>
      </div>
      <div id="contact-message">
        <label>{{ 'MESSAGE_LABEL' | translate }}</label>
        <textarea id="Message" name="Message" placeholder="{{ 'MESSAGE_PLACEHOLDER' | translate }}"
          ng-model="contact.message" ng-minlength="3" required></textarea>
      </div>
      <div id="contact-hidden">
        <label>{{ 'HIDDEN_LABEL' | translate }}</label>
        <input type="text" id="captcha" name="captcha"
          ng-model="contact.hidden">
      </div>
      <input type="submit" class="btn" value="Send Message" ng-click="event()">
    </form>
  </div>

  <div class="mail-social">

    <h2>
      <a href="mailto:info@simian.co">info@simian.co</a>
    </h2>

    <div class="social-networks">
      <a href="https://plus.google.com/+SimianCo" target="_blank"><span class="icon-googleplus"></span></a>
      <a href="https://www.facebook.com/simianlab" target="_blank"><span class="icon-facebook"></span></a>
      <a href="https://twitter.com/simianlab" target="_blank"><span class="icon-twitter"></span></a>
      <a href="https://github.com/simian-lab" target="_blank"><span class="icon-github"></span></a>
    </div>

    <div class="location">
      <!-- TODO: Set the correct link. -->
      <h2>
        <span class="icon-location"></span>
        <a href="#">{{ 'LOCATION_TITLE' | translate }}</a>
      </h2>
    </div>
  </div>
</footer>
