<footer>
  <div class="contact-form">
    <h1 id="Contact">Contact Us</h1>
    <form action="{{CONTACT_ROUTE}}" method="post">
      <div id="contact-name">
        <label>Name:</label>
        <input type="text" id="Name" name="Name" placeholder="Write your full name" ng-model="contact.name" ng-minlength="3" required>
      </div>
      <div id="contact-email">
        <label>Email:</label>
        <input type="email" id="Email" name="Email" placeholder="We don't spam!" ng-model="contact.email" ng-minlength="3" required>
      </div>
      <div id="contact-message">
        <label>Message:</label>
        <textarea id="Message" name="Message" placeholder="Write your message :)" ng-model="contact.message" ng-minlength="3" required></textarea>
      </div>
      <div id="contact-hidden">
        <label>If you're human, leave this blank</label>
        <input type="text" id="captcha" name="captcha" ng-model="contact.hidden"> 
      </div>
      <input type="submit" class="btn" value="Send Message">
    </form>
  </div>

  <div class="mail-social">

    <h2>info@simian.co</h2>

    <div class="social-networks">
      <a href="https://plus.google.com/+SimianCo" target="_blank"><span class="icon-googleplus"></span></a>
      <a href="https://www.facebook.com/simianlab" target="_blank"><span class="icon-facebook"></span></a>
      <a href="https://twitter.com/simianlab" target="_blank"><span class="icon-twitter"></span></a>
      <a href="https://github.com/simian-lab" target="_blank"><span class="icon-github"></span></a>
    </div>

    <div class="location">
      <span class="icon-location"></span>
      <!-- TODO: Set the correct link. -->
      <a href=""><h2>¿Dónde estamos?</h2></a>
    </div>
  </div>

</footer>
