/* Text-Related Elements */ 
p {
	font-size: 19px;
    line-height: 27px;
    color: rgba(51,51,51,.8);
    margin-bottom: 27px;
    font-family: $font-secondary;
}

/* Blockquote */
blockquote {
    padding-left: 10px;
    border-top-style: none;
    border-left-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-width: 3px;
    color: rgba(79,65,56,1);
    border-color: rgba(150,214,11,1);
}

/* Horizontal Rule */ 
hr {
	border: 0;
    height: 2px;
    background: $gray-light-2;
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
} 