<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #239392;"></span>
		<span class="sg-label">#239392</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4f4138;"></span>
		<span class="sg-label">#4f4138</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">#333333</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #96d60b;"></span>
		<span class="sg-label">#96d60b</span>
	</li>
</ul>