.content-find{
  background-image: url("../img/location/fondo_banano_amarillo.svg");
  background-size: 103%;
  background-repeat: no-repeat;
  margin-top: -37%;
  position: relative;
  z-index: -2;
  @media screen and (max-width: $mobile-large) {
    background-size: 200%;
    background-position-x: center;
    margin-top: -20rem;
  }
  @media screen and (max-width: $mobile-medium) {
    margin-top: -17rem;
  }
  @media screen and (max-width: $mobile-small) {
    margin-top: -15rem;
  }

  .text-find {
    padding-top: 51%;
    margin: 0 auto;
    width: 67%;
    @media screen and (max-width: $laptop-small) {
      width: 73%;
    }
    @media screen and (max-width: $mobile-large) {
      padding-top: 28rem;
      width: 21rem;
    }
    @media screen and (max-width: $mobile-medium) {
      padding-top: 24rem;
      width: 17rem;
    }
    @media screen and (max-width: $mobile-small) {
      padding-top: 22rem;
      width: 17rem;
    }

      h1 {
        color: $red;
        font-size: 7.5rem;
        @media screen and (max-width: $laptop-small) {
          font-size: 5.5rem;
        }
        @media screen and (max-width: $tablet-large) {
          font-size: 4.5rem;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 4rem;
        }
        @media screen and (max-width: $mobile-medium) {
          font-size: 3.5rem;
        }
      }

    h2 {
        font-family: $quicksand_regular;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 130%;
        padding-top: 6%;
        width: 74%;

        @media screen and (max-width: $laptop-small) {
          font-size: 1.3rem;
        }

        @media screen and (max-width: $mobile-large) {
          font-size: 1.3rem;
          width: 104%;
          padding-top: 16%;
        }

        @media screen and (max-width: $mobile-medium) {
          font-size: 1.2rem;
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 130%;
        padding-top: 5%;
        width: 74%;

        @media screen and (max-width: $laptop-small) {
          font-size: 1.3rem;
        }

        @media screen and (max-width: $mobile-large) {
          font-size: 1.3rem;
          padding-top: 5%;
          width: 104%;
        }
        @media screen and (max-width: $mobile-medium) {
          font-size: 1.2rem;
        }
      }
  }

  .icon_location {
    margin-left: 75%;
    margin-top: -25rem;
    position: absolute;
    @media screen and (max-width: $laptop-small) {
      margin-left: 71%;
      margin-top: -22rem;
    }
    @media screen and (max-width: $tablet-large) {
      margin-top: -16rem;
    }
    @media screen and (max-width: $tablet-medium) {
      margin-top: -13rem;
    }
    @media screen and (max-width: $tablet-small) {
      margin-top: -10rem;
    }
    @media screen and (max-width: $mobile-large) {
      margin-top: -32rem;
      margin-left: 67%;
    }
    @media screen and (max-width: $mobile-medium) {
      margin-top: -32rem;
      margin-left: 73%;
    }
    @media screen and (max-width: $mobile-small) {
      margin-top: -32rem;
      margin-left: 74%;
    }

    .icon{
      width: 90%;
      @media screen and (max-width: $laptop-small) {
        width: 79%;
      }
      @media screen and (max-width: $tablet-large) {
        width: 63%;
      }
      @media screen and (max-width: $tablet-medium) {
        width: 55%;
      }
      @media screen and (max-width: $tablet-small) {
        width: 52%;
      }
      @media screen and (max-width: $mobile-large) {
        width: 43%;
      }
    }
  }
}
