.content-find{
  background-image: url("../img/location/fondo_banano_amarillo.svg");
  background-repeat: no-repeat;
  background-size: 103%;
  display: flex;
  justify-content: center;
  margin:-29rem 0 4rem 0;
  padding-top: 44rem;
  position: relative;
  z-index: -2;

  @media screen and (min-width: $laptop-large) {
    margin: -37rem 0 4rem 0;
    padding-top: 60rem;
  }

  @media screen and (min-width: $laptop-medium) and (max-width: $laptop-large) {
    padding-top: 50rem;
  }

  @media screen and (max-width: $laptop-small) {
    background-size: 150%;
    background-position-x: center;
    margin: -30rem 0 0rem 0;
    padding-top: 74%;
  }

  @media screen and (max-width: $tablet-medium) {
    background-size: 185%;
    padding-top: 87%;
  }

  @media screen and (max-width: $tablet-small) {
    background-size: 240%;
    padding-top: 116%;
  }

  @media screen and (max-width: $mobile-large) {
    align-items: flex-start;
    background-size: 257%;
    margin: -29rem 0 0rem 0;
    padding-top: 120%;
  }

  @media screen and (max-width: $mobile-medium) {
    margin: -21rem 0 0rem 0;
  }

  @media screen and (max-width: $mobile-small) {

  }

  .text-find {
    width: 40rem;
    @media screen and (max-width: $laptop-small) {
      width: 53%;
    }

    @media screen and (max-width: $tablet-small) {
      width: 65%;
    }

    @media screen and (max-width: $mobile-large) {
      width: 83%;
    }
    @media screen and (max-width: $mobile-medium) {

    }
    @media screen and (max-width: $mobile-small) {

    }

      h1 {
        color: $red;
        font-size: 7.5rem;
        @media screen and (max-width: $laptop-small) {
          font-size: 5.5rem;
        }
        @media screen and (max-width: $tablet-large) {
          font-size: 4.5rem;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 4rem;
        }
        @media screen and (max-width: $mobile-medium) {
          font-size: 3.5rem;
        }
      }

    h2 {
        font-family: $quicksand_regular;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 130%;
        margin-top: 3rem;

        @media screen and (max-width: $laptop-small) {
          font-size: 1.3rem;
        }

        @media screen and (max-width: $mobile-large) {
          font-size: 1.3rem;
        }

        @media screen and (max-width: $mobile-medium) {
          font-size: 1.2rem;
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 130%;
        margin-top: 1rem;

        @media screen and (max-width: $laptop-small) {
          font-size: 1.3rem;
        }

        @media screen and (max-width: $mobile-large) {
          font-size: 1.3rem;
        }
        @media screen and (max-width: $mobile-medium) {
          font-size: 1.2rem;
        }
      }
  }

  .icon{
    @media screen and (max-width: $laptop-small) {
      width: 16rem;
    }

    @media screen and (max-width: $tablet-small) {
      width: 7rem;
    }

    @media screen and (max-width: $mobile-large) {
      width: 3rem;
      margin-left: -14%;
    }
  }
}
