.content-find{
  background-image: url("../img/location/fondo_banano_amarillo.svg");
  background-repeat: no-repeat;
  background-size: 103%;
  display: flex;
  justify-content: center;
  margin:-30rem 0 4rem 0;
  padding-top: 40rem;
  position: relative;
  z-index: -2;

  @media screen and (max-width: $mobile-large) {
    background-size: 200%;
    background-position-x: center;
    margin-top: -20rem;
  }
  @media screen and (max-width: $mobile-medium) {
    margin-top: -17rem;
  }
  @media screen and (max-width: $mobile-small) {
    margin-top: -15rem;
  }

  .text-find {
    width: 40rem;
    @media screen and (max-width: $laptop-small) {
      width: 73%;
    }
    @media screen and (max-width: $mobile-large) {
      padding-top: 28rem;
      width: 21rem;
    }
    @media screen and (max-width: $mobile-medium) {
      padding-top: 24rem;
      width: 17rem;
    }
    @media screen and (max-width: $mobile-small) {
      padding-top: 22rem;
      width: 17rem;
    }

      h1 {
        color: $red;
        font-size: 7.5rem;
        @media screen and (max-width: $laptop-small) {
          font-size: 5.5rem;
        }
        @media screen and (max-width: $tablet-large) {
          font-size: 4.5rem;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 4rem;
        }
        @media screen and (max-width: $mobile-medium) {
          font-size: 3.5rem;
        }
      }

    h2 {
        font-family: $quicksand_regular;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 130%;
        margin-top: 3rem;

        @media screen and (max-width: $laptop-small) {
          font-size: 1.3rem;
        }

        @media screen and (max-width: $mobile-large) {
          font-size: 1.3rem;
          width: 104%;
          padding-top: 16%;
        }

        @media screen and (max-width: $mobile-medium) {
          font-size: 1.2rem;
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 130%;
        margin-top: 1rem;

        @media screen and (max-width: $laptop-small) {
          font-size: 1.3rem;
        }

        @media screen and (max-width: $mobile-large) {
          font-size: 1.3rem;
          padding-top: 5%;
          width: 104%;
        }
        @media screen and (max-width: $mobile-medium) {
          font-size: 1.2rem;
        }
      }
  }

  .icon{
    @media screen and (max-width: $laptop-small) {
      width: 79%;
    }
    @media screen and (max-width: $tablet-large) {
      width: 63%;
    }
    @media screen and (max-width: $mobile-large) {
      width: 43%;
    }
  }
}
