.find {
  background-image: url("../img/location/fondo_banano_amarillo.svg");
  background-size: 103%;
  background-repeat: no-repeat;
  background-position: center 102%;
  height: 70rem;
  position: relative;
  z-index: -1;
  margin-bottom: -8rem;

  @media screen and (min-width: $laptop-large) {
    background-position: center 114%;
    margin-bottom: -7%;
  }
  @media screen and (max-width: $laptop-medium) {
    margin-bottom: -5rem;
  }
  @media screen and (max-width: $laptop-small) {
    background-position: center 62%;
    margin-bottom: -20rem;
  }
  @media screen and (max-width: $tablet-large) {
    background-position: center 41%;
    margin-bottom: -29rem;
  }
  @media screen and (max-width: $tablet-medium) {
    background-position: center 30%;
    margin-bottom: -36rem;
  }
  @media screen and (max-width: $tablet-small) {
    background-position: center 24%;
    margin-bottom: -41rem;
  }
  @media screen and (max-width: $mobile-large) {
    background-position: center 34%;
    background-size: 196%;
    margin-bottom: -33rem;
  }
  @media screen and (max-width: $mobile-large) {
    background-position: center 25%;
    margin-bottom: -38rem;
  }
  .graph {
    margin: 0 auto;
    position: relative;
    .container-earch {
      .earch{
        display: block;
        margin: 0 auto;
        @media screen and (max-width: $laptop-small) {
          max-width: 50%;
        }
        @media screen and (max-width: $mobile-large) {
          max-width: 75%;
        }
      }
    }
    .container-line {
      margin-top: -21rem;
      position: relative;
      z-index: -1;
      @media screen and (max-width: $laptop-small) {
        margin-top: -17rem;
      }
      @media screen and (max-width: $tablet-large) {
        margin-top: -14rem;
      }
      @media screen and (max-width: $tablet-medium) {
        margin-top: -13rem;
      }
      @media screen and (max-width: $tablet-small) {
        margin-top: -10rem;
      }
      @media screen and (max-width: $mobile-large) {
        display: none;
      }

      .line{
        display: block;
        margin: 0 auto;
        max-width: 100%;
        @media screen and (max-width: $laptop-small) {
          max-width: 74%;
        }
      }
    }
  }
  .text-content {
    text-align: center;
    margin: 0 auto;
    margin-top: -9rem;
    @media screen and (min-width: $laptop-large) {
      margin-top: -9rem;
    }
    @media screen and (max-width: $laptop-small) {
      margin-top: -7rem;
    }
    @media screen and (max-width: $tablet-large) {
      margin-top: -6rem;
    }
    @media screen and (max-width: $tablet-medium) {
      margin-top: -4rem;
    }
    @media screen and (max-width: $tablet-small) {
      margin-top: -3rem;
    }
    @media screen and (max-width: $mobile-large) {
      margin-top: 1rem;
    }
    @media screen and (max-width: $mobile-medium) {
      margin-top: 0.5rem;
    }
    .title {
      p {
        font-size: 5rem;
        @media screen and (max-width: $laptop-small) {
          font-size: 4rem;
        }
        @media screen and (max-width: $tablet-large) {
          font-size: 3rem;
        }
        @media screen and (max-width: $tablet-medium) {
          font-size: 2rem;
        }
        @media screen and (max-width: $tablet-small) {
          font-size: 1.5rem;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 2.5rem;
        }
      }
    }

    .content{
      @media screen and (max-width: $mobile-large) {
        width: 54%;
        margin-left: 24%;
      }
      p {
        font-size: 3rem;
        @media screen and (max-width: $laptop-small) {
          font-size: 2.5rem;
        }
        @media screen and (max-width: $tablet-large) {
          font-size: 2rem;
        }
        @media screen and (max-width: $tablet-medium) {
          font-size: 1.5rem;
        }
        @media screen and (max-width: $tablet-small) {
          font-size: 1.3rem;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
