.header-find{
  background-image: url("../img/location/fondo_header.svg");
  background-repeat: no-repeat;
  background-size: 103%;
  padding-top: 2rem;
  position: relative;
  text-align: center;
  top: -3rem;
  @media screen and (max-width: $mobile-large) {
    background-size: 204%;
    background-position: center 0rem;
    margin-left: 0rem;
    top: -4rem;
  }

  p {
    font-size: 5rem;
    @media screen and (max-width: $laptop-small) {
      font-size: 3.5rem;
    }
    @media screen and (max-width: $tablet-large) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: $mobile-large) {
      font-size: 2.3rem;
    }
  }

  h1 {
    color: $yellow;
    font-size: 9rem;
    @media screen and (max-width: $laptop-small) {
      font-size: 5.5rem;
    }
    @media screen and (max-width: $tablet-large) {
      font-size: 4.5rem;
    }
    @media screen and (max-width: $mobile-large) {
      font-size: 5.3rem;
    }
  }

  .graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    .earch {
      z-index: -1;

    }

    .line{
      margin: -23rem 0 0 0;
    }

    h2 {
      color: $brown;
      font-family: $quicksand_regular;
      font-size: 5rem;
      margin: -8rem 0 0 0;

      @media screen and (max-width: $laptop-small) {
        font-size: 4rem;
      }

      @media screen and (max-width: $tablet-large) {
        font-size: 3.5rem;
      }

      @media screen and (max-width: $mobile-large) {
        font-size: 3.5rem;
      }
    }

    p {
      font-size: 2.5rem;
      line-height: 130%;
      @media screen and (max-width: $laptop-small) {
        font-size: 2rem;
      }

      @media screen and (max-width: $tablet-large) {
        font-size: 1.7rem;
      }

      @media screen and (max-width: $mobile-large) {
        font-size: 1.5rem;
      }
    }
  }
}
