// Simian colors
$blue: #00A1C1;
$black: #000000;
$green: #1DC0B2;
$yellow: #DED96B;
$brown: #3F3832;
$red: #F25F5C;
$gray: #50514F;
$white: #FFFFFF;

// Fonts
$amatic_bold: 'amaticbold';
$amatic_regular: 'amatic_scregular';
$quicksand_bold: 'quicksandbold';
$quicksand_bold_italic: 'quicksandbold_italic';
$quicksand_light: 'quicksandlight';
$quicksand_light_italic: 'quicksandlight_italic';
$quicksand_regular: 'quicksandregular';
