@import 'bourbon';

@import 'fonts';
@import 'variables';

@import '../modules/header/header';
@import '../modules/footer/footer';

@import '../modules/home/home';
@import '../modules/clients/clients';

h1, h2, h3, h4, h5, h6 {
  font-family: $amatic_bold;
}

a, input, label, p, textarea {
  font-family: $quicksand_regular;
}

h1, p {
  color: $brown;
}

.button {
  background-image: url('../img/send-button.svg');
  background-repeat: no-repeat;
  color: $black !important;
  display: block;
  font-size: 1.5rem;
  height: 3.438rem;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  width: 9.688rem;
}

.grid {
  @include align-items(center);
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-around);
  margin: 2rem 0;
}
