@import 'bourbon';

@import 'fonts';
@import 'variables';

@import '../modules/404/404';

@import '../modules/header/header';
@import '../modules/footer/footer';

@import '../modules/home/home';
@import '../modules/clients/clients';

@import '../modules/location/location';

@import '../modules/we-share/we-share';

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $amatic_bold;
}

a, input, label, p, textarea {
  font-family: $quicksand_regular;
}

h1, p {
  color: $brown;
}

.bold-border {
  text-shadow: -2px 0 $brown, 0 2px $brown, 2px 0 $brown, 0 -2px $brown;

  @media screen and (max-width: $mobile-large) {
    text-shadow: -1px 0 $brown, 0 1px $brown, 1px 0 $brown, 0 -1px $brown;
  }
}

.button {
  background-repeat: no-repeat;
  background-size: contain;
  color: $black !important;
  display: block;
  font-size: 1.5rem;
  height: 3.438rem;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  width: 9.688rem;
}

.grid {
  @include align-items(center);
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-around);
  margin: 2rem 0;
}

.main-content:not(.section-404) {
  margin-top: $header-height;
}

.more-link {
  background-image: url('../img/more-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 3.5rem;
  position: absolute;
  width: 3.5rem;
}
