.find-us {
  background-image: url('../img/home/find-us-background.svg');
  background-repeat: no-repeat;
  background-size: 103%;
  display: flex;
  height: 41rem;
  justify-content: space-between;
  position: relative;

  @media screen and (max-width: $laptop-small) {
    height: 28rem;
  }

  @media screen and (max-width: $tablet-medium) {
    background-position-y: 16rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 41rem;
  }

  p {
    font-size: 2rem;

    @media screen and (max-width: $laptop-small) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: $tablet-medium) {
      font-size: 1.3rem;
    }
  }

  .sign {
    background-image: url('../img/home/find-us-sign.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 30rem;
    padding: 4rem 0 0 5rem;
    width: 20rem;

    @media screen and (max-width: $laptop-small) {
      height: 24rem;
      margin: 0rem 0 0 -2rem;
    }

    @media screen and (max-width: $tablet-medium) {
      width: 17rem;
      margin: auto;
      padding: 3rem 0 0 4.5rem;
      z-index: -1;
    }

    h1 {
      color: $yellow;
      font-size: 8rem;

      @media screen and (max-width: $laptop-small) {
        font-size: 6rem;
      }

      @media screen and (max-width: $tablet-medium) {
         font-size: 5rem;
      }
    }
  }

  .see-more {
    margin-top: 18rem;
    width: 21rem;

    @media screen and (max-width: $laptop-small) {
      margin-top: 13rem;
      width: 18rem;
    }

    @media screen and (max-width: $tablet-medium) {
      position: relative;
      top: 9rem;
    }

    @media screen and (max-width: $tablet-small) {
      top: 5rem;
    }

    @media screen and (max-width: $mobile-large) {
      top: 0rem;
    }

    @media screen and (max-width: $mobile-small) {
      top: -3rem;
    }

    p {
      text-align: center;
    }

    .button {
      background-image: url('../img/yellow-button.svg');
      margin: 3rem auto;

      @media screen and (max-width: $laptop-small) {
        margin: 1rem auto;
      }
    }
  }

  .back-blue{
    background-image: url("../img/home/fondo_azul_footer.svg");
    background-size: 104%;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
    position: relative;
    z-index: -1;
    margin-top: -4rem;
  }
}
