.find-us {
  background-image: url('../img/home/find-us-background.svg');
  background-position-y: 1rem;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 103%;
  display: flex;
  height: 41rem;
  justify-content: space-between;
  position: relative;

  @media screen and (max-width: $tablet-medium) {
    margin-top: 16rem;
  }

  @media screen and (max-width: $tablet-small) {
    background-size: 184%;
    background-position: inherit;
    background-position-x: center;
  }

  p {
    font-size: 2rem;

    @media screen and (max-width: $tablet-large) {
      font-size: 1.7rem;
    }

    @media screen and (max-width: $tablet-medium) {
      font-size: 2rem;
    }

    @media screen and (max-width: $tablet-small) {
      font-size: 1.7rem;
    }

    @media screen and (max-width: $mobile-large) {
      font-size: 1.4rem;
    }

    @media screen and (max-width: $mobile-medium) {
      font-size: 1.3rem;
    }

    @media screen and (max-width: $mobile-small) {
      font-size: 1.1rem;
    }
  }

  .sign {
    background-image: url('../img/home/find-us-sign.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 30rem;
    padding: 4rem 0 0 5rem;
    width: 20rem;

    @media screen and (max-width: $tablet-medium) {
      margin-left: 20.4%;
      margin-top: 3%;
      top: -16rem;
      width: 53%;
      z-index: -1;
    }

    @media screen and (max-width: $mobile-large) {
      margin-top: 5rem;
    }

    @media screen and (max-width: $mobile-medium) {
      margin-top: 7rem;
    }

    h1 {
      color: $yellow;
      font-size: 8rem;

      @media screen and (max-width: $tablet-large) {
        font-size: 7rem;
      }

      @media screen and (max-width: $tablet-medium) {
        font-size: 8rem;
      }

      @media screen and (max-width: $tablet-small) {
        font-size: 7rem;
      }

      @media screen and (max-width: $mobile-large) {
        font-size: 5.5rem;
      }

      @media screen and (max-width: $mobile-medium) {
        font-size: 5rem;
      }

      @media screen and (max-width: $mobile-small) {
        font-size: 4.5rem;
      }
    }
  }

  .see-more {
    margin-top: 18rem;
    width: 21rem;

    p {
      text-align: center;
    }

    @media screen and (max-width: $tablet-small) {
      top: 70%;
      width: 93%;
    }

    .button {
      background-image: url('../img/yellow-button.svg');
      margin: 3rem auto;
    }
  }

  .back-blue{
    background-image: url("../img/home/fondo_azul_footer.svg");
    background-size: 104%;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
    position: relative;
    z-index: -1;
    margin-top: -4rem;

    @media screen and (max-width: $mobile-large) {
      height: 20rem;
    }

    @media screen and (max-width: $mobile-small) {
      margin-top: -7rem;
      background-size: 113%;
    }

    @media screen and (min-width: $tablet-small) {
      display: none;
    }
  }
}
