.hero {
  .title {
    display: flex;
    justify-content: center;

    &::before, &::after {
      background-image: url('../img/home/hero-title-border.svg');
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      height: 30em;
      position: relative;
      width: 16rem;
      top: 1rem;

      @media screen and (max-width: $laptop-small) {
        height: 25em;
      }

      @media screen and (max-width: $tablet-medium) {
        display: none;
      }
    }

    &::before {
      @include transform(rotateY(180deg));
      left: 7rem;
    }

    &::after {
      right: 7rem;
    }

    h1, p {
      text-align: center;
    }

    h1 {
      color: $green;
      font-size: 12rem;

      @media screen and (max-width: $laptop-small) {
        font-size: 10rem;
      }
      @media screen and (max-width: $mobile-large) {
        font-size: 5rem;
      }
    }

    p {
      font-size: 5rem;
      width: 25rem;
      @media screen and (max-width: $laptop-small) {
        font-size: 4rem;
        width: 23rem;
      }

      @media screen and (max-width: $tablet-medium) {
        width: 30rem;
      }

      @media screen and (max-width: $mobile-large) {
        font-size: 2rem;
        width: 15rem;
      }
    }
  }

  .simian-tools {
    background-image: url('../img/home/circulos_mico_hero.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 0 auto;
    margin-top: -6.5rem;
    padding: 8rem 0;
    position: relative;
    width: 60rem;

    @media screen and (max-width: $laptop-small) {
      background-size: 30rem;
      margin-top: -4.5rem;
      width: 45rem;
    }

    @media screen and (max-width: $tablet-medium) {
      background-size: 25rem;
      margin-top: 2rem;
      width: 30rem;
    }

    @media screen and (max-width: $mobile-large) {
      background: none;
      width: 100%;
    }

    .simian {
      margin: -7rem 0 0 11rem;

      @media screen and (max-width: $laptop-small) {
        margin: -9rem 0 0 11rem;
        width: 30rem;
      }

      @media screen and (max-width: $tablet-medium) {
        margin: -5rem 0 0 7rem;
        width: 20rem;
      }

      @media screen and (max-width: $mobile-large) {
        display: none;
      }
    }

    .tools {
      img {
        position: absolute;
        width: 14rem;

        @media screen and (max-width: $laptop-small) {
          width: 8rem ;
        }

        @media screen and (max-width: $tablet-medium) {
          width: 7rem;
        }

        @media screen and (max-width: $mobile-large) {
          position: relative;
        }
      }

      .idea {
        left: 21.5rem;
        top: -2rem;

        @media screen and (max-width: $laptop-small) {
          left: 18rem;
          top: -2rem;
        }

        @media screen and (max-width: $tablet-medium) {
          left: 11rem;
          top: -1rem;
        }
      }

      .development {
        left: 2rem;
        top: 11rem;

        @media screen and (max-width: $laptop-small) {
          left: 6rem;
          top: 5rem;
        }

        @media screen and (max-width: $tablet-medium) {
          left: 3rem;
        }
      }

      .design {
        top: 20rem;
        right: -1rem;

        @media screen and (max-width: $laptop-small) {
          top: 11rem;
          right: 3rem;
        }

        @media screen and (max-width: $tablet-medium) {
          left: 22rem;
          top: 11rem;
        }
      }

      .banano {
        bottom: 2rem;
        left: 8rem;

        @media screen and (max-width: $laptop-small) {
          bottom: 4rem;
          left: 11rem;
        }

        @media screen and (max-width: $tablet-medium) {
          bottom: 5rem;
          left: 5rem;
        }
      }

      .support {
        right: 13rem;
        bottom: -2rem;

        @media screen and (max-width: $laptop-small) {
          right: 12rem;
          bottom: 2rem;
        }

        @media screen and (max-width: $tablet-medium) {
          right: 7rem;
          bottom: 3rem;
        }
      }

      .idea, .development, .design, .banano, .support {
        @media screen and (max-width: $mobile-large) {
          bottom: 0;
          left: 0;
          top: 0;
        }
      }
    }
  }
}
