.our-projects {
  background-image: url('../img/footer/footer-bg-red.svg');
  background-repeat: no-repeat;
  background-size: 103%;
  background-position-x: -1rem;

  @media screen and (max-width: $tablet-small) {
    background-size: 245%;
  }

  @media screen and (max-width: $mobile-large) {
    background-size: 320%;
    margin-top: 4em;
  }

  .intro {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    padding: 3rem 2.5rem 0 0;

    @media screen and (max-width: $tablet-medium) {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 3rem 0rem 0 0;
    }

    .title-container {
      background-image: url('../img/home/our-projects-sign.svg');
      background-repeat: no-repeat;
      background-position: -5rem;
      background-size: 37rem;
      padding: 5rem;
      width: 33rem;

      @media screen and (max-width: $laptop-small) {
        background-size: 28rem;
        height: 18rem;
        padding: 3rem;
        width: 22.5rem;
      }

       @media screen and (max-width: $tablet-medium) {
        background-position: -1rem;
        height: 21rem;
        padding: 5rem 0 0 0.5rem;
        width: 30rem;
      }

      @media screen and (max-width: $mobile-large) {
        background-position: -1rem -1rem;
        background-size: 20rem;
        height: 21rem;
        margin-top: -8rem;
        padding: 3rem 0 0 0.5rem;
        width: 21rem;
      }

      h1, p {
        text-align: center;
      }

        p {
          font-size: 3rem;

          @media screen and (max-width: $laptop-small) {
            font-size: 2rem;
          }

          @media screen and (max-width: $mobile-large) {
            font-size: 1.3rem;
          }

          &:nth-child(2) {
            font-size: 5rem;

            @media screen and (max-width: $laptop-small) {
              font-size: 3.5rem;
            }

            @media screen and (max-width: $mobile-large) {
              font-size: 2.3rem;
            }
          }
        }

        h1 {
          color: $yellow;
          font-size: 9rem;

          @media screen and (max-width: $laptop-small) {
            font-size: 6rem;
          }

          @media screen and (max-width: $mobile-large) {
            font-size: 4.3rem;
          }
        }

    }

    .text {
      width: 30rem;

      @media screen and (max-width: $laptop-small) {
        width: 20rem;
      }

      @media screen and (max-width: $tablet-medium) {
        margin: 0 auto;
        text-align: center;
        width: 20rem;
      }

      @media screen and (max-width: $mobile-large) {
        width: 18rem;
        margin-top: -6rem;
      }

      h2, p {
        font-size: 1.3rem;
        font-family: $quicksand_regular;

        @media screen and (max-width: $laptop-small) {
          font-size: 1rem;
        }
      }

      h2{
        color: $brown;
        font-weight: bold;
        @media screen and (max-width: $mobile-large) {
        }
      }

      p {
        @media screen and (max-width: $mobile-large) {
        }
      }
    }
  }

  .slider-container {
    position: relative;

    @media screen and (max-width: $tablet-medium) {
      margin-top: 2rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
      background-image: url('../img/home/yellow-arrow.svg');
      background-size: contain;
      height: 6rem;
      top: 30%;
      width: 6rem;
    }

    .swiper-button-prev {
      left: 5%;
    }

    .swiper-button-next {
      @include transform(rotate(180deg));
      right: 5%;
    }

    #projects-slider {
      width: 80%;

      .swiper-wrapper {
        .swiper-slide {

          .name {
            font-size: 4rem;
            text-align: center;
            margin: 1rem 0;
          }

          .preview-container {
            @include display(flex);
            @include align-self(flex-end);
            min-height: 19.69rem;
            position: relative;

            img {
              display: block;
              margin: 0 auto;
              max-width: 100%;
            }

            &.desktop {

              img {
                width: 95%;
              }

              .more-link {
                bottom: 20%;
                right: 2%;
              }
            }

            &.phone {

              img {
                width: 35%;
              }

              .more-link {
                bottom: 6%;
                right: 28%;
              }
            }

            &.tablet {

              img {
                width: 52%;
              }

              .more-link {
                bottom: 0%;
                right: 18%;
              }
            }
          }

          .quote {
            margin: 2rem 0;
            text-align: center;

            .avatar {
              border-radius: 50%;
              display: block;
              margin: 0 auto;
              width: 5.813rem;
            }


              .after {
                position: absolute;
                font-size: 2rem;
                bottom: 19.2rem;
                left: 12rem;
              }

              .before {
                position: absolute;
                left: -13rem;
                top: 31.8rem;
                font-size: 2rem;
              }

            p {
              margin: 0.5rem 0;
            }

            .text {
              color: $gray;
              font-family: $quicksand_light;
              font-size: 1.5rem;
              margin-bottom: 1rem;
              padding: 1rem 1rem;
            }

            .author, .project-country .project {
              color: $red;
            }

            .author {
              font-size: 1.3rem;
            }

            .position {
              font-size: 1.4rem;
            }

            .project-country {
              font-family: $quicksand_bold;
              font-size: 1.4rem;

              .project {
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}
