.our-stuff {
  background-image: url('../img/home/our-stuff-bg.svg');
  background-repeat: no-repeat;
  background-size: 103%;
  padding: 2rem 0;

  @media screen and (max-width: $mobile-large) {
    height: 56rem;
  }

  @media screen and (max-width: $mobile-medium) {
    height: 48rem;
  }

  @media screen and (max-width: $mobile-small) {
    height: 45rem;
  }


  .title {
    background-image: url('../img/home/our-stuff-title.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 18rem;
    margin: 0 auto;
    width: 33rem;
    padding: 3rem 0 0 9rem;

    @media screen and (max-width: $tablet-medium) {
      width: 24rem;
      padding: 2rem 0 0 7rem;
    }

    p {
      font-size: 4rem;

      @media screen and (max-width: $tablet-medium) {
        font-size: 3rem;
      }

      @media screen and (max-width: $mobile-large) {
        font-size: 2.3rem;
      }

      @media screen and (max-width: $mobile-small) {
        font-size: 2rem;
      }
    }

    h1 {
      color: $yellow;
      font-size: 9rem;

      @media screen and (max-width: $tablet-medium) {
        font-size: 7rem;
      }

      @media screen and (max-width: $mobile-large) {
        font-size: 5.3rem;
      }

      @media screen and (max-width: $mobile-medium) {
        font-size: 4.3rem;
      }

      @media screen and (max-width: $mobile-small) {
        font-size: 4rem;
      }
    }

  }

  .projects {
    display: flex;
    justify-content: center;

    @media screen and (max-width: $laptop-small) {
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .project {
      position: relative;
      width: 25rem;

      @media screen and (max-width: $mobile-small) {
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        display: flex;
      }

      .white-sign, .more, .logo {
        position: absolute;
      }

      .phone {
        position: relative;
        z-index: 1;
        width: 15rem;
        @media screen and (max-width: $tablet-medium) {
          width: 10rem;
        }
      }

      .more {
        z-index: 2;
      }

      .white-sign {
        width: 20rem;
      }

      .logo {
        width: 8rem;
        height: 4rem;
        z-index: 1;
      }

      &:first-child {
        .white-sign {
          left: 4rem;
          top: 17rem;
          @media screen and (max-width: $tablet-medium) {
            left: 3rem;
            top: 5rem;
          }
        }

        .phone {
          left: -4rem;
          @media screen and (max-width: $tablet-medium) {
            left: 0rem;
          }
        }

        .more{
          left: 8rem;
          top: 25rem;

          @media screen and (max-width: $tablet-medium) {
            top: 13rem;
          }
        }

        .logo{
          top: 21rem;
          left: 12rem;

          @media screen and (max-width: $tablet-medium) {
            top: 9rem;
            left: 11rem;
          }
        }
      }

      &:last-child {
        .white-sign {
          top: 17rem;
          left: -3rem;
          @media screen and (max-width: $tablet-medium) {
            top: 1rem;
            left: -2rem;
          }
        }

        .more{
          top: 25rem;
          left: 12rem;
          @media screen and (max-width: $tablet-medium) {
            top: 9rem;
            left: 12rem;
          }
        }

        .logo{
          top: 21rem;
          left: 5rem;
          @media screen and (max-width: $tablet-medium) {
            top: 5rem;
            left: 5rem;
          }
        }

        .phone {
          left: 14rem;
          @media screen and (max-width: $tablet-medium) {
            left: 15rem;
            top: -4rem;
          }
        }
      }
    }
  }
}
