.our-projects {
  background-image: url('../img/footer/footer-bg-red.svg');
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: $tablet-large) {
    background-size: 160%;
    background-position-x: center;
    margin-top: 13rem;
  }

  @media screen and (max-width: $tablet-small) {
    background-size: 245%
  }

  .intro {
    @include clearfix();
    padding-top: 5rem;

    .title-container {
      background-image: url('../img/home/our-projects-sign.svg');
      background-repeat: no-repeat;
      background-position-x: 60%;
      background-size: contain;
      padding: 8% 0;
      width: 55%;

      @media screen and (max-width: $laptop-small) {
        background-size: 101%;
        padding: 10% 0;
        margin-left: -7%;
        width: 55%;
        height: 36rem;
      }

      @media screen and (max-width: $tablet-large) {
          margin-left: 11%;
          margin-top: -25%;
          width: 68%;
          height: inherit;
      }

      .title {
        text-align: center;

        @media screen and (max-width: $laptop-small) {
          margin-left: 11%;
          margin-top: -6%;
        }

        @media screen and (max-width: $tablet-large) {
          margin-top: 3%;
        }

        @media screen and (max-width: $tablet-medium) {
          margin-top: -3%;
        }

        p {
          font-size: 4rem;

           @media screen and (max-width: $laptop-small) {
            font-size: 3rem;
          }

          @media screen and (max-width: $tablet-large) {
            font-size: 2.5rem;
          }

          @media screen and (max-width: $tablet-small) {
            font-size: 2rem;
          }

          &:nth-child(2) {
            font-size: 7rem;

            @media screen and (max-width: $laptop-small) {
              font-size: 5rem;
            }

            @media screen and (max-width: $tablet-large) {
              font-size: 4.5rem;
            }

            @media screen and (max-width: $tablet-small) {
              font-size: 3.5rem;
            }
          }
        }

        h1 {
          color: $yellow;
          font-size: 10.5rem;

          @media screen and (max-width: $laptop-small) {
            font-size: 8.5rem;
          }

          @media screen and (max-width: $tablet-large) {
            font-size: 8rem;
          }

          @media screen and (max-width: $tablet-small) {
            font-size: 6rem;
          }
        }
      }
    }

    .text {
      padding-right: 3%;
      padding-top: 10%;
      width: 45%;

      @media screen and (max-width: $laptop-small) {
        padding-top: 5%;
        width: 52%;
      }

      @media screen and (max-width: $tablet-large) {
        padding-top: 0%;
        padding-left: 7%;
        width: 100%;
      }

      h2{
        color: $brown;
        font-family: $quicksand_regular;
        font-size: 1.5rem;
        font-weight: bold;
      }

      p {
        font-size: 1.5rem;
      }
    }

    .title-container, .text {
      float: left;

      @media screen and (max-width: $mobile-large) {
        float: none;
        padding: 0;
        width: 90%;
      }
    }
  }

  .slider-container {
    position: relative;

    .swiper-button-prev,
    .swiper-button-next {
      background-image: url('../img/home/yellow-arrow.svg');
      background-size: contain;
      height: 6rem;
      top: 30%;
      width: 6rem;
    }

    .swiper-button-prev {
      left: 5%;
    }

    .swiper-button-next {
      @include transform(rotate(180deg));
      right: 5%;
    }

    #projects-slider {
      width: 80%;

      .swiper-wrapper {
        .swiper-slide {

          .name {
            font-size: 4rem;
            text-align: center;
            margin: 1rem 0;
          }

          .preview-container {
            @include display(flex);
            @include align-self(flex-end);
            min-height: 19.69rem;
            position: relative;

            img {
              display: block;
              margin: 0 auto;
              max-width: 100%;
            }

            &.desktop {

              img {
                width: 95%;
              }

              .more-link {
                bottom: 20%;
                right: 2%;
              }
            }

            &.phone {

              img {
                width: 35%;
              }

              .more-link {
                bottom: 6%;
                right: 28%;
              }
            }

            &.tablet {

              img {
                width: 52%;
              }

              .more-link {
                bottom: 0%;
                right: 18%;
              }
            }
          }

          .quote {
            margin: 2rem 0;
            text-align: center;

            .avatar {
              border-radius: 50%;
              display: block;
              margin: 0 auto;
              width: 5.813rem;
            }

            p {
              margin: 0.5rem 0;
            }

            .text {
              color: $gray;
              font-family: $quicksand_light;
              font-size: 1.5rem;
              margin-bottom: 2rem;
              padding: 0 1rem;
            }

            .author, .project-country .project {
              color: $red;
            }

            .author {
              font-size: 1.3rem;
            }

            .position {
              font-size: 1.4rem;
            }

            .project-country {
              font-family: $quicksand_bold;
              font-size: 1.4rem;

              .project {
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}
