.our-stuff {
  align-items: center;
  background-image: url('../img/home/verde_footer.svg');
  background-repeat-y: no-repeat;
  background-size: 76rem 76rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  padding: 2rem 0;

  @media screen and (max-width: $laptop-small) {
    background-size: 142rem 118rem;
    height: 107rem;
  }

  @media screen and (max-width: $tablet-medium) {
    background-size: 78rem 70rem;
    height: 62rem;
  }

  @media screen and (max-width: $mobile-large) {
    background-size: 68rem 65rem;
    height: 55rem;
    margin-top: -2rem;
  }

  .banano {
    background-image: url('../img/home/banano_lo_nuestro.svg');
    background-position-x: center;
    background-size: 65rem 36rem;
    background-repeat: no-repeat;
    height: 34rem;
    width: 100%;

    @media screen and (max-width: $laptop-small) {
      background-size: 65rem 36rem;
      height: 46rem;
    }

    @media screen and (max-width: $tablet-medium) {
      background-size: 57rem 24rem;
    }

    @media screen and (max-width: $mobile-large) {

    }
  }

  .title {
    background-image: url('../img/home/our-stuff-title.svg');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 36rem;
    height: 21rem;
    margin: -37rem 0 0 -7rem;
    padding: 4rem 0 0 11rem;
    width: 32rem;

    @media screen and (max-width: $laptop-small) {
      height: 25rem;
    }

    @media screen and (max-width: $tablet-medium) {
      background-size: 27rem;
      height: 19rem;
      margin: -37rem 0 0 -7rem;
      padding: 4rem 0 0 9rem;
      width: 24rem;
    }

    @media screen and (max-width: $mobile-large) {
      background-size: 22rem;
      height: 16rem;
      margin: -33rem 0 0 -4rem;
      padding: 3rem 0 0 7rem;
      width: 20rem;
    }

    p {
      font-size: 4rem;

      @media screen and (max-width: $tablet-medium) {
        font-size: 2rem;
      }

      @media screen and (max-width: $mobile-large) {
        font-size: 2rem;
      }
    }

    h1 {
      color: $yellow;
      font-size: 9rem;

      @media screen and (max-width: $tablet-medium) {
        font-size: 6rem;
      }

      @media screen and (max-width: $mobile-large) {
        font-size: 5rem;
      }
    }

  }

  .projects {
    display: flex;
    justify-content: space-around;
    height: 40rem;
    width: 100%;

    @media screen and (max-width: $laptop-small) {
      align-items: center;
      flex-direction: column;
      height: inherit;
      justify-content: flex-start;
    }

    @media screen and (max-width: $mobile-large) {

    }

    .project {
      position: relative;
      width: 30rem;

      @media screen and (max-width: $tablet-medium) {
        width: 24rem;
      }

      @media screen and (max-width: $mobile-large) {
        width: 17.5rem;
      }

      .white-sign, .more, .logo {
        position: absolute;
      }

      .phone {
        position: relative;
        z-index: 1;
        width: 17rem;
        @media screen and (max-width: $tablet-medium) {
          width: 10rem;
        }

        @media screen and (max-width: $mobile-large) {
          width: 8rem;
        }
      }

      .more {
        z-index: 2;
        @media screen and (max-width: $mobile-large) {
          width: 4rem;
        }
      }

      .white-sign {
        width: 25rem;

        @media screen and (min-width: $laptop-medium) {
          width: 35rem;
        }

        @media screen and (max-width: $mobile-large) {
          width: 17.5rem;
        }
      }

      .logo {
        height: 4rem;
        width: 8rem;
        z-index: 1;

        @media screen and (min-width: $laptop-medium) {
          height: 5rem;
          width: 12rem;
        }

        @media screen and (max-width: $mobile-large) {
          height: 3rem;
          width: 7rem;
        }
      }

      &:first-child {
        .white-sign {
          left: 5rem;
          top: 15rem;

          @media screen and (min-width: $laptop-medium) {
            left: 1rem;
            top: 12rem;
          }

          @media screen and (max-width: $tablet-medium) {
            left: -1rem;
            top: 5rem;
          }

          @media screen and (max-width: $mobile-large) {
            left: 1rem;
            top: 4rem;
          }
        }

        .phone {
          left: -1rem;
          @media screen and (max-width: $tablet-medium) {
            left: 0rem;
          }
        }

        .more{
          left: 13rem;
          top: 25rem;

           @media screen and (min-width: $laptop-medium) {
            left: 12rem;
            top: 28rem;
          }

          @media screen and (max-width: $tablet-medium) {
            left: 7rem;
            top: 15rem;
          }

          @media screen and (max-width: $mobile-large) {
            left: 6rem;
            top: 10rem;
          }
        }

        .logo{
          left: 17rem;
          top: 21rem;

          @media screen and (min-width: $laptop-medium) {
            left: 18rem;
            top: 20rem;
          }

          @media screen and (max-width: $tablet-medium) {
            left: 12rem;
            top: 10rem;
          }

          @media screen and (max-width: $mobile-large) {
            left: 9rem;
            top: 7.5rem;
          }
        }
      }

      &:last-child {
        .white-sign {
          left: -6rem;
          top: 15rem;

          @media screen and (min-width: $laptop-medium) {
            left: -15rem;
            top: 12rem;
          }

          @media screen and (max-width: $tablet-medium) {
            left: -4rem;
            top: 1rem;
          }

          @media screen and (max-width: $mobile-large) {
            left: -5rem;
            top: 2rem;
          }
        }

        .more{
          left: 12rem;
          top: 25rem;

           @media screen and (min-width: $laptop-medium) {
            left: 12rem;
            top: 28rem;
          }

          @media screen and (max-width: $tablet-medium) {
            left: 12rem;
            top: 11rem;
          }

          @media screen and (max-width: $mobile-large) {
            left: 7.5rem;
            top: 8rem;
          }
        }

        .logo{
          left: 5rem;
          top: 21rem;

          @media screen and (min-width: $laptop-medium) {
            left: -1rem;
            top: 20rem;
          }

          @media screen and (max-width: $tablet-medium) {
            left: 6rem;
            top: 6rem;
          }

          @media screen and (max-width: $mobile-large) {
            left: 2rem;
            top: 5.5rem;
          }
        }

        .phone {
          left: 14rem;
          @media screen and (max-width: $tablet-medium) {
            left: 15rem;
            top: -4rem;
          }

          @media screen and (max-width: $mobile-large) {
            left: 9.5rem;
            top: -2rem;
          }
        }
      }
    }
  }
}
