.we-are {
  background-image: url('../img/home/we-are-background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 15rem;

  @media screen and (max-width: $laptop-small) {
    margin-top: 12rem;
  }

  @media screen and (max-width: $mobile-large) {
    background-position-x: center;
    background-size: 37rem;
    margin-top: 8rem;
  }

  .title {
    align-items: center;
    display: flex;
    justify-content: center;
    left: -7rem;
    position: relative;
    top: -16rem;

    @media screen and (max-width: $laptop-small) {
      left: -5rem;
      top: -17rem;
    }

    @media screen and (max-width: $tablet-medium) {
      top: -19rem;
    }

    @media screen and (max-width: $mobile-large) {
       top: -20rem;
    }

    .box-flex {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      h1 {
        color: $red;
        font-size: 9rem;

        @media screen and (max-width: $laptop-small) {
          font-size: 7rem;
        }

        @media screen and (max-width: $tablet-medium) {
          font-size: 6rem;
        }

        @media screen and (max-width: $mobile-large) {
          font-size: 4rem;
        }
      }

      p {
        font-size: 5rem;
        text-align: center;

        @media screen and (max-width: $laptop-small) {
          font-size: 3.5rem;
        }

        @media screen and (max-width: $tablet-medium) {
          font-size: 3rem;
        }

        @media screen and (max-width: $mobile-large) {
          font-size: 2rem;
        }
      }
    }

    img {
      margin: 7rem 0 0 2rem;
      width: 19rem;

      @media screen and (max-width: $laptop-small) {
        margin: 7rem 0 0 1rem;
        width: 12rem;
      }

      @media screen and (max-width: $mobile-large) {
        margin: 4rem 0 0 1rem;
        width: 7rem;
      }
    }

    &::after, &::before {
      background-image: url('../img/home/question-mark.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 23rem;
      width: 8rem;

      @media screen and (max-width: $laptop-small) {
        width: 6rem;
      }

      @media screen and (max-width: $tablet-medium) {
        width: 5rem;
      }

      @media screen and (max-width: $mobile-large) {
         width: 4rem;
      }
    }

    &::before {
      @include transform(rotate(155deg));
      margin: 1rem -1rem 0 0rem;

      @media screen and (max-width: $tablet-medium) {
        margin: -5rem 0 0 0;
      }

      @media screen and (max-width: $mobile-large) {
        margin: -10rem 2rem 0 3rem;
      }
    }

    &::after {
      margin-left: -22rem;

      @media screen and (max-width: $laptop-small) {
        margin: 6rem 0 0 -15rem;
      }

      @media screen and (max-width: $tablet-medium) {
        margin: 9rem 0 0 -14rem;
      }

      @media screen and (max-width: $mobile-large) {
        margin: 13rem 0 0 -9rem;
      }
    }
  }

  .monkeys {
    margin: 0 auto;
    margin-top: -11rem;
    width: 70%;

    @media screen and (max-width: $laptop-small) {
      margin-top: -20rem;
    }

    @media screen and (max-width: $tablet-medium) {
      margin-top: -26rem;
    }

    @media screen and (max-width: $mobile-large) {
      margin-top: -31rem;
      width: 90%;
    }

    .monkey {
      @media screen and (max-width: $mobile-large) {
        padding: 0.5rem;
      }
      .image-container {
        position: relative;

        img {
          width: 100%;
        }

        a {
          bottom: 1%;
          right: 15%;
        }
      }

      h1, p {
        text-align: center;
      }

      h1 {
        font-size: 3rem;
        @media screen and (max-width: $mobile-large) {
          font-size: 1.5rem;
        }
      }

      p {
        font-family: $quicksand_light;
        font-size: 1.5rem;
        @media screen and (max-width: $mobile-large) {
          font-size: 0.8rem;
        }
      }
    }

    .item {
      @include flex-basis(26%);
      @media screen and (max-width: $mobile-large) {
        @include flex-basis(50%);
      }
    }

    .grid {
      .monkey {
        margin-top: 3rem;
        @media screen and (max-width: $mobile-large) {
          margin-top: 0rem;
        }
      }
    }

    .bosses {
      @include display(flex);
      @include justify-content(space-around);
      margin: 0 auto;
      width: 80%;
      @media screen and (max-width: $mobile-large) {
        margin-top: -31rem;
        width: 100%;
      }
    }

    .bosses, .simians {
      @include align-items(baseline);
    }
  }
}
