<div id="home">

  <div class="hero">
    <div class="hero-wrapper">
      <div class="hero-title">

        <div class="hero-text">
          Construimos<br>
          <span class="bold-border">Experiencias digitales</span><br>
          para seres humanos<br>
        </div>

        <img src="img/home/imagen_hero.png">
      </div>

      <div class="hero-box">
        <p><span>Diseñamos y desarrollamos productos digitales</span> trabajando en todo el ciclo de vida del proyecto desde la definición de la estrategia, diseño centrado en el usuario, desarrollo e implementación hasta el acompañamiento y soporte.</p>
      </div>
    </div>
  </div>

  <div class="our-projects">
    <div class="intro">
      <div class="title-container">
          <p>Estos han sido</p>
          <p>nuestros</p>
          <h1 class="bold-border">Proyectos</h1>
      </div>

      <div class="text">
        <h2>Proin tortor turpis, sodales a convallis non, cursus vitae felis.</h2>
        <p>
          Proin tortor turpis, sodales a convallis non, cursus vitae felis. Donec accumsan metus a feugiat consequat. Nullam vel egestas velit. Proin dapibus dictum odio, in porttitor sem finibus id. Proin porta lacus ac porta consequat. Donec nec condimentum augue. Mauris mi lacus, consequat non nibh sed, ultricies mollis est. Nullam eget efficitur massa, et gravida sem. Morbi ex erat, egestas non vulputate in, molestie porttitor lectus. Nulla rutrum consequat purus sit amet ultrices. Donec id laoreet dui. Pellentesque lorem orci, rutrum tristique vehicula sit amet, fermentum ut massa. Nunc nec auctor quam.
        </p>
      </div>
    </div>

    <div class="slider-container">

      <div id="projects-slider" class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="project in projects">
              <h1 class="name">{{project.name}}</h1>
              <div class="preview-container {{project.previewType}}">
                <img ng-src="/img/{{project.previewType}}.svg" alt="{{project.name}}">
                <a href="" class="more-link"></a>
              </div>
              <div class=quote>
                <div class="content-avatar">
                  <img class="line-after" src="../img/home/linea_avatar.svg" alt="">
                  <img ng-src="{{project.quote.avatar}}" alt="" class="avatar">
                  <img class="line-before" src="../img/home/linea_avatar.svg" alt="">
                </div>
                <p class="text"><span class="comillas">"</span>{{project.quote.text}}<span class="comillas">"</span></p>
                <p class="author">{{project.quote.author}}</p>
                <p class="position">{{project.quote.position}}</p>
                <p class="project-country"><span class="project">{{project.name}},</span> {{project.quote.country}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="our-stuff">
    <div class="banano"></div>
    <div class="title">
        <p>Lo</p>
        <h1 class="bold-border">Nuestro</h1>
    </div>

    <div class="projects">
      <div class="project">
        <img class="phone" src="../img/home/eventcenter.svg" alt="">
        <img class="more" src="../img/home/icono_mas.svg" alt="">
        <img class="white-sign" src="../img/home/our-stuff-white.svg" alt="">
        <img class="logo" src="../img/home/cyberlunes.png" alt="">
      </div>

      <div class="project">
        <img class="logo" src="../img/home/cyberlunes.png" alt="">
        <img class="white-sign" src="../img/home/our-stuff-white.svg" alt="">
        <img class="more" src="../img/home/icono_mas.svg" alt="">
        <img class="phone" src="../img/home/doctly.svg" alt="">
      </div>
    </div>
  </div>!-->

  <div class="clients-container-home">

    <div class="header-clients-container">
      <img class="line-left" src="../img/home/linea_izquierda.svg" alt="">
    <div class="title-clients">
      <h1 class="bold-border">Quiénes</h1>
      <div class="container">
        <h2>Han estado</h2>
        <p>con nosotros</p>
      </div>
    </div>
    <img class="heart" src="../img/home/corazon.svg" alt="">
    <img class="line" src="../img/home/linea_derecha.svg" alt="">
    </div>

    <simian-clients limit="numClientes()"></simian-clients>
    <div class="see-more">
      <a ui-sref="clients" class="button">Ver más</a>
    </div>
  </div>

  <div class="we-are">
    <div class="title">
       <div class="box-flex">
          <h1 class="bold-border">Quiénes</h1>
          <p>somos</p>
       </div>
       <img src="../img/home/bombillo.svg" alt="">
    </div>


    <div class="monkeys">

      <div class="bosses">
        <div class="monkey" ng-repeat="boss in bosses">
          <div class="image-container">
            <img ng-src="{{boss.avatar}}" alt="{{boss.name}}">
            <a ng-href="{{$root.getLink('we-are', 'quienes-somos', { monkey: boss.slug })}}" class="more-link"></a>
          </div>
          <h1>{{boss.name}}</h1>
          <p>{{boss.position}}</p>
        </div>
      </div>

      <div class="simians grid">
        <div class="monkey item" ng-repeat="simian in simians">
          <div class="image-container">
            <img ng-src="{{simian.avatar}}" alt="{{simian.name}}">
            <a ng-href="{{$root.getLink('we-are', 'quienes-somos', { monkey: simian.slug })}}" class="more-link"></a>
          </div>
          <h1>{{simian.name}}</h1>
          <p>{{simian.position}}</p>
        </div>
      </div>

    </div>
  </div>

  <div class="find-us">
    <div class="sign">
      <h1 class="bold-border">Donde</h1>
      <p>encontrarnos</p>
    </div>
    <div class="see-more">
      <p>Nuestra filosofía es el trabajo en forma remota.</p>
      <a ui-sref="location" class="button">Ver más</a>
    </div>
  </div>

</div>
