footer {
  overflow: hidden;
}

.footer-container {
  @include clearfix();
  margin: 0 auto;
  max-width: 62.5rem;
}

.contact-form {
  float: left;
  padding: 7%;
  width: 100%;

  @media screen and (min-width: 62rem) {
    padding: 5% 2%;
    width: 50%;
  }

  input, textarea {
    margin-bottom: 10px;
  }

  textarea {
    min-height: 10rem;
  }

  .btn {
    display: block;
    margin: 1rem auto;
    width: 8rem;
    font-size: 1rem;
  }
}

.mail-social {
  padding-top: 12%;
  width: 100%;

  @media screen and (min-width: 62rem) {
    float: right;
    width: 50%;
  }

  h2 {
    font-size: 3rem;
    margin: 3% 0;
    text-align: center;

    a {
      color: $blue;
    }
  }

  span {
    font-size: 3rem;
    margin: 0.25rem;

    @media screen and (min-width: 62rem) {
      font-size: 4rem;
      margin: 0 0.25rem;
    }

    &:hover {
      color: $gray-menu;
    }
  }

  .social-networks{
    margin: 1rem auto;
    text-align: center;
    width: 75%;

    @media screen and (min-width: 62rem) {
      width: 60%;
    }
  }

  .location {
    margin: 1rem auto;
    width: 75%;
    @include clearfix();

    h2 {
      text-align: center;
    }

    .icon-location {
      font-size: 2rem;
      color: white;
      margin: 0;
    }
  }
}

#contact-hidden {
  display: none;
}
