footer {
  overflow: hidden;
  position: relative;
}

.footer-container {
  @include clearfix();
  margin: 0 auto;
  max-width: 62.5rem;
}

.contact-form {
  float: left;
  padding: 7%;
  width: 100%;
  // TODO: use the proper transition
  @include transition(all, ease-out, 0.2s);

  & > * {
    // TODO: use the proper transition
    @include transition(all, ease-out, 0.2s);
  }

  @media screen and (min-width: 62rem) {
    padding: 5% 2%;
    width: 50%;
  }

  h1 {
    width: auto;
  }

  input, textarea {
    margin-bottom: 10px;

    &:invalid {
      box-shadow: none;
    }
  }

  textarea {
    min-height: 10rem;
  }

  .btn {
    display: block;
    margin: 1rem auto;
    width: 8rem;
    font-size: 1rem;
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {
    @include transform(translateY(0));
  }

  10%, 30%, 50%, 70%, 90% {
    @include transform(translateY(-0.5rem));
  }
}

.packaged {
  .contact-form {
    background: #FFF;
    border: 0.25rem dashed #96d60b;
    box-shadow :0 0 0.5rem 0.25rem black;
    margin: 1rem 5%;
    position: relative;
    width: 90%;
    -webkit-animation: bounce 3s infinite; // TODO: prefix this!

    @media screen and (min-width: 62rem) {
      width: 40%;
    }

    &:after {
      background-image: url(/images/monkeyface.svg);
      background-size: 80%;
      background-repeat: no-repeat;
      background-color: #f1f1f1;
      background-position: center center;
      box-shadow: 0 0 0.25rem #999;
      content: '';
      display: block;
      height: 9rem;
      position: absolute;
      height: 4rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 3rem;
      @include transform(rotate(5deg));

      @media screen and (min-width: 31rem) {
        height: 7rem;
        width: 6rem;
      }

      @media screen and (min-width: 43rem) {
        right: 2rem;
        top: 1.5rem;
      }

      @media screen and (min-width: 62rem) {
        height: 5rem;
        right: 1rem;
        top: 1rem;
        width: 4rem;
      }
    }

    #Contact {
      text-align: left;
    }

    #contact-name {

      input {
        margin: 0;
      }
    }

    #contact-email {
      label {
        max-height: 0;
        padding: 0;
        visibility: hidden;
      }

      input {
        font-size: 0.85rem;
      }
    }

    input,
    textarea {
      border: 0;
      font-family: Georgia, serif;
      font-size: 1.25rem;
      padding: 0;
    }

    input[type="submit"] {
      max-width: 0;
      margin: 0;
      visibility: hidden;
    }
  }
}

.error {
  .sending-message {
    max-height: 5rem;
    padding: 1rem;
  }
}

.sent {
  .contact-form {
    @include transform(translateX(200%) scale(0.1));
    -webkit-animation: none; // TODO: Prefix this!
  }

  .sending-message {
    background: transparent;
    color: white;
    max-height: 5rem;
    position: absolute;
    top: 25%;
    font-size: 3rem;

    @media screen and (min-width: 62rem) {
      width: 50%;
    }
  }
}

.sending-message {
  background: #f1f1f1;
  border-radius :1rem 1rem 0 0;
  bottom: 0;
  color: #666;
  display: block;
  font-size: 1.5rem;
  left: 0;
  margin: 0px auto;
  max-height: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2;

  // TODO: use the proper transition
  @include transition(all, ease-out, 0.2s);
}

#contact-hidden {
  display: none;
}

.mail-social {
  padding-top: 12%;
  width: 100%;

  @media screen and (min-width: 62rem) {
    float: right;
    width: 50%;
  }

  h2 {
    font-size: 3rem;
    margin: 3% 0;
    text-align: center;

    a {
      color: $blue;
    }
  }

  span {
    font-size: 3rem;
    margin: 0.25rem;

    @media screen and (min-width: 62rem) {
      font-size: 4rem;
      margin: 0 0.25rem;
    }

    &:hover {
      color: $gray-menu;
    }
  }

  .social-networks{
    margin: 1rem auto;
    text-align: center;
    width: 75%;

    @media screen and (min-width: 62rem) {
      width: 60%;
    }
  }

  .location {
    margin: 1rem auto;
    width: 75%;
    @include clearfix();

    h2 {
      text-align: center;
    }

    .icon-location {
      font-size: 2rem;
      color: white;
      margin: 0;
    }
  }
}
