.finish-do {
  @media screen and (max-width: $tablet-medium) {
    margin-top: -4rem;
  }
  @media screen and (max-width: $mobile-large) {
    margin-top: -6rem;
  }

  .develop-maintenance {
    display: flex;
    justify-content: center;

    h1, p {
      text-align: center;
    }

    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.3rem;
      line-height: 130%;
      margin-top: 1rem;
    }

    .develop, .maintenance {
      width: 24rem;
    }
    .develop {
      position: relative;
      top: 2rem;
      left: -5.5rem;
      .icon {
        width: 25rem;
      }

      h1 {
        color: $red;
      }
    }

    .maintenance {
      position: relative;
      left: 6rem;
      top: 1.5rem;
      .idea {
        width: 25rem;
      }

      h1 {
        color: $green;
      }
    }
  }

  .icon-finish {
    margin: 0 auto;
    width: 25rem;
    @media screen and (max-width: $laptop-small) {
      width: inherit;
    }
    @media screen and (max-width: $mobile-large) {
      padding-top: 3%;
    }

    .love {
      @media screen and (max-width: $laptop-small) {
        width: 34%;
        margin-left: 34%;
      }
      @media screen and (max-width: $mobile-large) {
        width: 60%;
        margin-left: 20%;
      }
    }
    .line-finish {
      margin-left: 47%;
      margin-top: -2.8rem;
      width: 7%;
      position: relative;
      top: -0.7rem;
      @media screen and (min-width: $mobile-large) {
        display: none;
      }
    }
  }

  .icon-line {
    margin: 0 auto;
    width: 40rem;
    @media screen and (max-width: $laptop-small) {
      margin: 0 auto;
      width: 91%;
    }
    @media screen and (max-width: $mobile-large) {
      display: none;
    }

    .line {
      margin-top: 6rem;
      position: absolute;
      width: 43rem;
      margin-left: -2rem;
      @media screen and (max-width: $laptop-small) {
        margin-top: 8%;
        position: absolute;
        width: 57%;
        margin-left: 18%;
      }
    }
  }

  .text-finish {
    text-align: center;
    margin-bottom: 4rem;

    h1{
      font-size: 4rem;
      @media screen and (max-width: $laptop-small) {
        font-size: 3rem;
      }
      @media screen and (max-width: $tablet-medium) {
        font-size: 2rem;
      }
      @media screen and (max-width: $mobile-large) {
        font-size: 3rem;
      }
    }
  }
}
