.header-do {

  .text-header {
    text-align: center;

    .title {

      p {
        font-size: 5rem;
        @media screen and (max-width: $laptop-small) {
          font-size: 4rem;
        }
        @media screen and (max-width: $tablet-medium) {
          font-size: 3rem;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 4rem;
        }
      }
    }

    .subtitle {

      h1 {
        color: $green;
        font-size: 10rem;
        @media screen and (max-width: $laptop-small) {
          font-size: 7rem;
        }
        @media screen and (max-width: $tablet-medium) {
          font-size: 5rem;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 7rem;
        }
      }
    }
  }

  .graph {
    margin: 0 auto;
    width: 42rem;
    @media screen and (max-width: $laptop-small) {
      width: 100%;
    }
    @media screen and (max-width: $mobile-large) {
      display: none;
    }

    .line {
      margin-top: -13rem;
      @media screen and (max-width: $laptop-small) {
        margin-top: -9.5rem;
        margin-left: 20%;
        width: 61%;
      }
      @media screen and (max-width: $tablet-medium) {
        margin-top: -6.5rem;
      }
    }
  }

  .icon-do {
    @media screen and (max-width: $mobile-large) {
      padding-top: 1rem;
    }

    .idea {
      margin: 0 auto;
      width: 64rem;
      @media screen and (max-width: $laptop-small) {
        width: inherit;
      }
      @media screen and (max-width: $mobile-large) {
        margin-bottom: 15rem;
      }
      @media screen and (max-width: $mobile-small) {
        margin-bottom: 12rem;
      }

      .idea-icon {
        margin-top: -9%;
        @media screen and (max-width: $laptop-small) {
          margin-top: -7.5%;
          width: 34%;
          margin-left: 3rem;
        }
        @media screen and (max-width: $mobile-large) {
          width: 16rem;
          margin-left: 20%;
          margin-top: inherit;
        }
        @media screen and (max-width: $mobile-medium) {
          margin-left: 17%;
        }
        @media screen and (max-width: $mobile-small) {
          margin-left: 12%;
        }
      }
    }

    .banana {
      margin: 0 auto;
      width: 0rem;
      margin-top: -2.2rem;

      @media screen and (max-width: $laptop-small) {
        width: inherit;
        margin-top: -1.8rem;
      }
      @media screen and (max-width: $tablet-medium) {
        margin-top: -4.2%;
      }
      @media screen and (max-width: $tablet-small) {
        margin-top: -4.5%;
      }
      @media screen and (max-width: $mobile-large) {
        margin-top: inherit;
      }

      .banana-icon {
        margin-top: -28.6rem;
        margin-left: 6rem;

        @media screen and (max-width: $laptop-small) {
          margin-top: -38%;
          margin-left: 61%;
          width: 31.5%;
        }
        @media screen and (max-width: $mobile-large) {
          margin-top: inherit;
          margin-left: 20%;
          width: 16rem;
        }
        @media screen and (max-width: $mobile-medium) {
          margin-left: 17%;
        }
        @media screen and (max-width: $mobile-small) {
          margin-left: 12%;
        }
      }
    }
  }

  .text-content {
    margin: 0 auto;
    width: 65rem;

    @media screen and (max-width: $laptop-small) {
      width: inherit;
    }

    .text-work {
      text-align: center;
      width: 28rem;

      @media screen and (max-width: $laptop-small) {
        width: 46%;
      }
      @media screen and (max-width: $mobile-large) {
        width: 17rem;
        margin-top: -33rem;
        margin-left: 17%;
        margin-bottom: 26rem;
      }
      @media screen and (max-width: $mobile-medium) {
        margin-left: 8%;
      }
      @media screen and (max-width: $mobile-small) {
        margin-left: 7%;
        margin-bottom: 26.5rem;
        width: 14rem;
        margin-top: -29.5rem;
      }

      h1 {
        color: $green;
        font-size: 4rem;

        @media screen and (max-width: $laptop-small) {
          font-size: 3rem;
        }
        @media screen and (max-width: $tablet-medium) {
          font-size: 2rem;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 3rem;
        }
        @media screen and (max-width: $mobile-medium) {
          width: 113%;
        }
        @media screen and (max-width: $mobile-small) {
          width: 124%;
        }
      }

      p {
        margin-top: 1rem;
        font-size: 1.3rem;
        margin-left: 2rem;
        width: 24rem;
        line-height: 130%;

        @media screen and (max-width: $laptop-small) {
          margin-top: 1rem;
          font-size: 1rem;
          margin-left: 14%;
          width: 73%;
        }
        @media screen and (max-width: $tablet-large) {
          width: 84%;
          margin-left: 9%;
        }
        @media screen and (max-width: $tablet-medium) {
          font-size: 0.7rem;
          width: 72%;
        }
        @media screen and (max-width: $tablet-small) {
          width: 88%;
          margin-left: 7%;
        }
        @media screen and (max-width: $mobile-large) {
          margin-top: 1rem;
          font-size: 1rem;
          margin-left: 6%;
          width: 15rem;
        }
        @media screen and (max-width: $mobile-medium) {
          margin-left: 12%;
        }
        @media screen and (max-width: $mobile-small) {
          width: 17rem;
          margin-top: 1rem;
          font-size: 0.9rem;
          margin-left: 1%;
        }
      }
    }

    .text-analize {
      text-align: center;
      width: 22rem;
      margin-top: -17rem;
      margin-left: 40rem;

      @media screen and (max-width: $laptop-small) {
        width: 31%;
        margin-top: -13rem;
        margin-left: 61%;
      }
      @media screen and (max-width: $tablet-medium) {
        margin-top: -9rem;
      }
      @media screen and (max-width: $tablet-small) {
        margin-top: -9rem;
      }
      @media screen and (max-width: $mobile-large) {
        margin-left: 17%;
        width: 17rem;
      }
      @media screen and (max-width: $mobile-medium) {
        margin-left: 9%;
      }
      @media screen and (max-width: $mobile-small) {
        width: 14rem;
        margin-top: -8rem;
        margin-left: 11%;
      }

      h1 {
        color: $blue;
        font-size: 4rem;
        @media screen and (max-width: $laptop-small) {
          font-size: 3rem;
          width: 104%;
        }
        @media screen and (max-width: $tablet-medium) {
          font-size: 2rem;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 3rem;
          width: 104%;
        }
        @media screen and (max-width: $mobile-medium) {
          width: 113%;
        }
      }

      p {
        margin-top: 1rem;
        font-size: 1.3rem;
        width: 24rem;
        margin-left: -1rem;
        line-height: 130%;
        @media screen and (max-width: $laptop-small) {
          font-size: 1rem;
          margin-left: 0;
          width: initial;
        }
        @media screen and (max-width: $tablet-medium) {
          font-size: 0.7rem;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 1rem;
          margin-left: 7%;
          width: 15rem;
        }
        @media screen and (max-width: $mobile-medium) {
          margin-left:11%;
        }
        @media screen and (max-width: $mobile-small) {
          font-size: 0.9rem;
          margin-left: -5%;
          width: 17rem;
        }
      }
    }
  }
}
