li {
	font-family: Georgia, serif;
}

ul > li:before {
	content: '\00bb';
	color: $blue;
	margin-right: 0.25em;
}

/* Definition Lists */
dl {
	overflow: hidden;
	margin: 0 0 $space;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}