.content-share {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  margin-top: -126%;

  @media screen and (max-width: $mobile-large) {
    margin-top: -375%;
  }

  @media screen and (max-width: 65.625rem) and (min-width: $mobile-large) {
    margin-top: -155%;
  }

  @media screen and (max-width: 43.750rem) and (min-width: $mobile-large) {
    margin-top: -175%;
  }

  .content {
    margin-left: 23%;
    @media screen and (max-width: $mobile-large) {
      margin-left: 18%;
    }

    .text {
      .title {
        p {
          color: $red;
          font-size: 2rem;
          width: 80%;
          margin-top: 10%;
          margin-left: -3%;
          font-weight: bold;

          @media screen and (max-width: $mobile-large) {
            font-size: 1.5rem;
            margin-top: 10%;
            width: 100%;
          }
          @media screen and (max-width: 65.625rem) and (min-width: $mobile-large) {
            font-size: 1.5rem;
          }
          @media screen and (max-width: 43.750rem) and (min-width: $mobile-large) {
            font-size: 1.3rem;
          }
        }
      }

      .text-content {
        p {
          font-size: 1.5rem;
          margin-top: -17%;
          margin-left: 32%;
          width: 45%;

          @media screen and (max-width: $mobile-large) {
            font-size: 1rem;
            margin-top: -1%;
            margin-left: -9%;
            width: 100%;
          }
          @media screen and (max-width: 65.625rem) and (min-width: $mobile-large) {
            font-size: 1.3rem;
          }
          @media screen and (max-width: 43.750rem) and (min-width: $mobile-large) {
            font-size: 1rem;
          }
        }
      }

      .figure {
        margin-top: 1%;
        margin-left: -3%;

        @media screen and (max-width: $mobile-large) {
          margin-top: 0%;
          margin-left: -5%;
        }
        @media screen and (max-width: 65.625rem) and (min-width: $mobile-large) {
          margin-top: 0%;
          margin-left: -4%;
        }
        @media screen and (max-width: 43.750rem) and (min-width: $mobile-large) {
          margin-top: -18%;
        }
        .icon {
          @media screen and (max-width: 65.625rem) and (min-width: $mobile-large) {
            width: 30%;
          }
          @media screen and (max-width: 43.750rem) and (min-width: $mobile-large) {
            width: 32%;
          }
          @media screen and (max-width: $mobile-large) {
            width: 71%;
          }
        }
      }
    }
  }
}
