.header-share{
  background-image: url("../img/we-share/fondo.svg");
  background-position-x: center;
  background-repeat-y: no-repeat;
  background-size: 78rem 38rem;
  position: relative;
  top: -3rem;
  text-align: center;
  padding-top: 4rem;

  @media screen and (max-width: $laptop-small) {
    background-size: 60rem 30rem;
  }

  @media screen and (max-width: $tablet-medium) {
    background-size: 60rem 26rem;
  }

  @media screen and (max-width: $mobile-large) {
    background-size: 37rem 19rem;
  }

  p {
    font-size: 5rem;
    @media screen and (max-width: $laptop-small) {
      font-size: 4.5rem;
    }
    @media screen and (max-width: $tablet-medium) {
      font-size: 3.5rem;
    }
    @media screen and (max-width: $mobile-large) {
      font-size: 2rem;
    }
  }

  h1 {
    color: $red;
    font-size: 10.5rem;
    @media screen and (max-width: $laptop-small) {
      font-size: 9.5rem;
    }
    @media screen and (max-width: $tablet-medium) {
      font-size: 7.5rem;
    }
    @media screen and (max-width: $mobile-large) {
      font-size: 5rem;
    }
  }

  .graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .monkey {
      @media screen and (max-width: $laptop-small) {
        width: 40rem;
      }

      @media screen and (max-width: $tablet-medium) {
        width: 30rem;
      }

      @media screen and (max-width: $mobile-large) {
        width: 20rem;
      }
    }

    .text {
      width: 45rem;
      text-align: left;

      @media screen and (max-width: $laptop-small) {
        width: 40rem;
      }

      @media screen and (max-width: $tablet-medium) {
        width: 80%;
      }

      h1 {
        color: $red;
        font-size: 6.5rem;
        line-height: 120%;
        @media screen and (min-width: $laptop-small) {
          font-size: 8rem;
        }
        @media screen and (max-width: $tablet-medium) {
          font-size: 5rem;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 3.5rem;
        }
      }

      h2 {
        font-size: 1.8rem;
        font-weight: bold;
        font-family: $quicksand_regular;
        line-height: 120%;
        margin-top: 2rem;

        @media screen and (max-width: $mobile-large) {
          font-size: 1.2rem;
        }
      }

      p {
        font-size: 1.8rem;
        line-height: 120%;

        @media screen and (max-width: $mobile-large) {
          font-size: 1.2rem;
        }
      }
    }
  }
}
