.share-content{
  margin: 0 auto;
  width: 45rem;

  @media screen and (min-width: $laptop-large) {
    width: 53rem;
  }
  @media screen and (min-width: $laptop-medium) and (max-width: $laptop-large) {
    width: 46rem;
  }
  @media screen and (max-width: $tablet-large) {
    width: 31rem;
  }
  @media screen and (max-width: $mobile-large) {
    margin: inherit;
    width: inherit;
  }

  .content {
    margin: 0 auto;
    margin-bottom: 3rem;

    @media screen and (max-width: $mobile-large) {
      width: 85%;
    }

    h2 {
        color: $red;
        font-size: 2rem;
        font-weight: bold;
        font-family: $quicksand_regular;
        line-height: 120%;
        width: 40rem;

        @media screen and (max-width: $tablet-large) {
          width: 28rem;
        }

        @media screen and (max-width: $mobile-large) {
          font-size: 2rem;
          width: 83%;
        }

        @media screen and (max-width: $mobile-small) {
          font-size: 1.5rem;
        }
      }

    .text-content {
      display: inline-flex;

      @media screen and (max-width: $mobile-large) {
        display: inherit;
      }

      p {
        margin-top: 1rem;
        width: 25rem;
        font-size: 1.8rem;
        line-height: 120%;

        @media screen and (min-width: $laptop-large) {
          width: 35rem;
        }
        @media screen and (max-width: $laptop-medium) {
          font-size: 1.5rem;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 1.5rem;
          width: inherit;
        }
        @media screen and (max-width: $mobile-small) {
          font-size: 1.2rem;
        }
      }

      .logo{

        @media screen and (min-width: $laptop-medium) and (max-width: $laptop-large){
          margin-top: -3rem;
        }

        @media screen and (max-width: $tablet-large) {
          width: 14rem;
        }

        @media screen and (max-width: $mobile-large) {
          width: 70%;
          position: relative;
          left: 2.5rem;
        }
      }
    }
  }
}
