.video-share{
  margin: 0 auto;
  width: 100%;
  position: absolute;
  margin-top: -229%;
  z-index: -2;

  @media screen and (max-width: $mobile-large) {
    margin-top: -160%;
  }

  .title {
    background-image: url("../img/we-share/banano_fondo_video.svg");
    background-repeat: no-repeat;
    background-position: center -1%;
    background-size: 101%;
    padding-top: 77%;

    @media screen and (max-width: $mobile-large) {
        background-size: 198%;
        padding-top: 114%;
      }

    .text-header{
      h1 {
        color: $black;
        font-size: 5rem;
        position: absolute;
        margin-top: -84%;
        left: 20%;

        @media screen and (max-width: $mobile-large) {
          font-size: 3rem;
          left: 12%;
        }
        @media screen and (max-width: 65.625rem) and (min-width: $mobile-large){
          font-size: 4.5rem;
          margin-top: -33%;
          left: 10%
        }
        @media screen and (max-width: 43.750rem) and (min-width: $mobile-large){
          font-size: 3.5rem;
        }
      }
    }
  }
  .video {

      .icon_borde{
        position: absolute;
        margin-top: -75%;
        left: 8%;
      }
      .icon_play{
        position: absolute;
        margin-top: -59%;
        left: 42%;
      }
      .icon_left{
        position: absolute;
        margin-top: -56%;
        left: 92%;
      }
      .icon_right{
        position: absolute;
        margin-top: -56%;
        left: 2%;
      }
      .icon_pause{
        position: absolute;
        margin-top: -32%;
        left: 10%;
      }
      .icon_play_green{
        position: absolute;
        margin-top: -32%;
        left: 14%;
      }
      .icon_volume{
        position: absolute;
        margin-top: -32%;
        left: 80%;
      }
    }
}
