.content-video {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;

  h1 {
    font-size: 5rem;
    line-height: 120%;
    @media screen and (max-width: $tablet-medium) {
      font-size: 4rem;
    }
  }

  .video {
    margin-top: 2rem;
    .frame{
      @media screen and (max-width: $tablet-large) {
        width: 95%;
      }
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    h2 {
      color: $red;
      font-size: 2rem;
      font-weight: bold;
      font-family: $quicksand_regular;
      line-height: 120%;

      @media screen and (max-width: $tablet-large) {

      }

      @media screen and (max-width: $mobile-large) {

      }
    }

    .text-content {
      display: flex;
      width: 42rem;

      @media screen and (max-width: $tablet-medium) {
        align-items: center;
        flex-direction: column;
        width: 28rem;
      }

       @media screen and (max-width: $mobile-large) {
        width: 18rem;
      }

      p {
        font-size: 1.7rem;
        line-height: 120%;
        text-align: left;
        margin: 2rem 0 0 1rem;

        @media screen and (max-width: $tablet-medium) {
          width: 95%;
          margin: 0 0 0 0;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 1.5rem;
        }
        @media screen and (max-width: $mobile-large) {
          font-size: 1.2rem;
        }
      }

      .logo{
        margin-top: -4rem;

        @media screen and (max-width: $tablet-medium) {
          margin-top: 1rem;
        }

        @media screen and (max-width: $tablet-medium) {

        }

        @media screen and (max-width: $mobile-large) {

        }
      }
    }
  }
}
