.video{
  background-image: url("../img/we-share/banano_fondo_video.svg");
  background-repeat: no-repeat;
  background-size: 103%;
  padding-bottom: 15rem;
  @media screen and (min-width: $laptop-medium) {
    padding-bottom: 22rem;
  }
  @media screen and (max-width: $laptop-small) {
    padding-bottom: 7rem;
  }
  @media screen and (max-width: $tablet-large) {
    padding-bottom: 5rem;
  }

  .video-content {
    margin: 0 auto;
    position: relative;

    .border {
      display: block;
      margin: 0 auto;
      max-width: 88%;
      padding-top: 2%;
      @media screen and (min-width: $laptop-large) and (max-width: 117.500em){
        padding-top: 7%;
      }
      @media screen and (min-width: 117.500em) {
        padding-top: 9%;
      }
    }

    .bottom-video {

      img {
        position: absolute;
      }

      .icon-play {
        top: 32%;
        left: 42%;
        width: 17%;
        @media screen and (min-width: $laptop-large) and (max-width: 117.500em) {
          width: 15%;
        }
        @media screen and (min-width: 117.500em) {
          top: 40%;
        }
      }

      .icon-left {
        top: 43%;
        left: 93%;
        width: 7%;
        @media screen and (min-width: 117.500em) {
          left: 79%;
          top: 51%;
        }
        @media screen and (min-width: $laptop-large) and (max-width: 117.500em) {
          left: 81%;
          width: 8%;
        }
        @media screen and (min-width: $laptop-medium) and (max-width: $laptop-large) {
          left: 86%;
        }
      }

      .icon-right {
        top: 43%;
        width: 7%;
        @media screen and (min-width: 117.500em) {
          left: 14%;
          top: 51%;
        }
        @media screen and (min-width: $laptop-large) and (max-width: 117.500em) {
          left: 10%;
          width: 8%;
        }
        @media screen and (min-width: $laptop-medium) and (max-width: $laptop-large){
          left: 8%;
        }
        @media screen and (max-width: $laptop-small) {
          left: 1%;
        }
      }

      .icon-pause {
        width: 7%;
        top: 94%;
        left: 6%;
        @media screen and (min-width: 117.500em) {
          left: 21%;
          top: 95%;
        }
        @media screen and (min-width: $laptop-large) and (max-width: 117.500em)  {
          left: 17%;
          width: 8%;
        }
        @media screen and (min-width: $laptop-medium) and (max-width: $laptop-large){
          left: 14%;
        }
        @media screen and (max-width: $laptop-small) {
          left: 6%;
        }
      }

      .icon-play-green {
        width: 7%;
        top: 94%;
        left: 10%;
        @media screen and (min-width: 117.500em) {
          left: 26%;
          top: 95%;
        }
        @media screen and (min-width: $laptop-large) and (max-width: 117.500em){
          left: 22%;
          width: 8%;
        }
        @media screen and (min-width: $laptop-medium) and (max-width: $laptop-large){
          left: 18%;
        }
        @media screen and (max-width: $laptop-small) {
          left: 10%;
        }
      }

      .icon-volume {
        top: 94%;
        left: 84%;
        width: 13%;
        @media screen and (min-width: 117.500em) {
          left: 68%;
        }
        @media screen and (min-width: $laptop-large) and (max-width: 117.500em){
          left: 71%;
          width: 13%;
        }
        @media screen and (min-width: $laptop-medium) and (max-width: $laptop-large) {
          left: 76%;
        }
        @media screen and (max-width: $laptop-small) {
          left: 83%;
        }
      }
    }
  }
}
