header {
  background-image: url('../img/header/header-background.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;

  a {
    display: inline-block;
  }

  nav {
    left: 23%;
    position: absolute;
    top: 2.5rem;
    width: 60%;

    @media screen and (max-width: $mobile-large) {
      display: none;
    }

    ul {
      display: flex;

      li {
        margin: 0 1rem;

        a {
          color: $white;
          font-family: $quicksand_light;
          font-size: 0.75rem;
          line-height: 1.2rem;
          text-decoration: none;
          text-align: center;
          text-transform: uppercase;
        }

        .active {
          color: $yellow;
        }
      }
    }
  }

  .header-buttons {
    position: absolute;
    right: 1rem;
    top: 2rem;

    @media screen and (max-width: $mobile-large) {
      display: none;
    }

    a {
      margin: 0 0.5rem;
    }
  }
}
