
header {
  .desktop {
    @include transform(translateZ(0));
    background-image: url('../img/header/header-background.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: $header-height;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;

    @media screen and (max-width: $mobile-large) {
      background-position: center -1.25rem;
    }

    .menu {
      display: none;
      @media screen and (max-width: 75.000em) {
        display: inline-block;
        left: 1rem;
        position: relative;
        top: -6rem;
      }

      @media screen and (max-width: $mobile-large) {
        top: calc(-5rem + 10px);
      }

      span{
        transition: all 250ms ease-in-out;
        background-color: white;
        display: block;
        height: rem(3px);
        margin: rem(5px);
        opacity: 1;
        position: relative;
        width: rem(29px);
      }

    }

    .simian {
      @media screen and (max-width: 75.000em) {
        margin: 0 auto;
        width: 18rem;
      }

      @media screen and (max-width: $mobile-large) {
        width: 13rem;
      }

      a {
        display: inline-block;
        margin: 0 0 0 2.125rem;
        position: relative;

        @media screen and (max-width: $mobile-large) {
          margin: -10px 0 0 0;
        }

        &:hover {
          &:before {
            content: '';
            display: block;
            background-image: url('../img/header/logo-simian-hover.png');
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            height: 100%;
            width: 100%;
          }

          img {
            visibility: hidden;
          }
        }

        img {
          width: 220px;

          @media screen and (max-width: $mobile-large) {
            //width: 100%;
          }
        }
      }
    }
    nav {
      left: 23%;
      position: absolute;
      top: 2.5rem;
      width: 60%;
      text-align: center;

      @media screen and (max-width: 75.000em) {
        display: none;
      }

      ul {
        display: flex;
        justify-content: center;
        margin-top: 5px;

        li {
          margin: 0 2rem;

          a {
            color: $white;
            font-family: $quicksand_light;
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.2rem;
            position: relative;
            text-decoration: none;
            text-align: center;

            &:hover {
              color: $yellow;

              span {
                background-image: url('../img/header/line-hover-desktop.svg');
                background-position: center bottom;
                background-repeat: no-repeat;
                //background-size: cover;
                height: 30px;
                position: absolute;
                width: 100%;
                top: 70%;
                left: 0;
              }
            }
          }

          .active {
            color: $yellow;
          }
        }
      }
    }

    .header-buttons {
      position: absolute;
      right: 1rem;
      top: 2rem;

      @media screen and (max-width: 75.000em) {
        display: none;
      }

      a {
        margin: 0 0.5rem;
        text-decoration: none;
      }
    }
  }

  .movile {

    .header{
      background-image: url('../img/header/barra_menu_roja.svg');
      background-size: 70rem 22rem;
      display: flex;
      justify-content: space-between;
      height: 9rem;
      position: fixed;
      top: 5rem;
      width: 101%;
      z-index: 12;

      @media screen and (max-width: $mobile-large) {
        background-size: 31rem 25rem;
      }

      .close{
        height: 2.3rem;
        left: 1.5rem;
      }

      .header-buttons {
        right: 2rem;

        a {
          .blog {
            @media screen and (max-width: $mobile-large) {
              width: 3rem;
            }
          }

          .idioma {
            @media screen and (max-width: $mobile-large) {
              width: 2.5rem;
            }
          }
        }
      }

      .close, .header-buttons {
        position: relative;
        top: 1rem;
        @media screen and (max-width: $mobile-large) {
          top: calc(1rem + 10px);
        }
      }
    }

    nav {
      display: flex;
      background: $brown;
      align-items: flex-start;
      height: 100%;
      justify-content: center;
      padding-top: 13%;
      position: fixed;
      text-align: center;
      top: 6rem;
      width: 100%;
      z-index: 11;

      @media screen and (max-width: $mobile-large) {
        top: 4rem;
      }
      ul {
        display: flex;
        flex-direction: column;
        height: 77%;
        justify-content: space-between;
        width: 70%;

        @media screen and (max-width: $mobile-large) {
          height: 80%;
          width: 85%;
        }

        .hide-inicio {
          display: none;
          @media screen and (max-width: 75.000em) {
            display: flex;
          }
        }

        li, .hide-inicio {
          align-items: center;
          border: dashed 1.9px;
          border-color: $white;
          display: flex;
          height: 8%;
          width: 100%;

          a {
            color: $white;
            font-family: $quicksand_light;
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 1.2rem;
            margin-left: 1rem;
            text-decoration: none;
            text-align: start;
            text-transform: uppercase;
          }

          .active {
            color: $yellow;
          }
        }
      }
    }
  }
}
