<header>
  <a href="" ui-sref="home">
    <img src="../img/header/logo-simian.png" alt="">
  </a>

  <nav ng-hide="activeSection == '404'">
    <ul>
      <li>
        <a ng-href="{{$root.getLink('we-do', 'que-hacemos')}}" ng-class="{active: activeSection == 'we-do'}">Qué hacemos</a>
      </li>
      <li>
        <a href="" ui-sref="projects" ng-class="{active: activeSection == 'projects'}">Nuestros proyectos</a>
      </li>
      <li>
        <a href="" ui-sref="clients" ng-class="{active: activeSection == 'clients'}">Quiénes han estado con nosotros</a>
      </li>
      <li>
        <a href="" ui-sref="we-are" ng-class="{active: activeSection == 'we-are'}">Quiénes somos</a>
      </li>
      <li>
        <a href="" ui-sref="location" ng-class="{active: activeSection == 'location'}">Donde encontrarnos</a>
      </li>
      <li>
        <a href="" ui-sref="we-share" ng-class="{active: activeSection == 'we-share'}">Compartimos lo que sabemos</a>
      </li>
    </ul>
  </nav>

  <div class="header-buttons" ng-hide="activeSection == '404'">
    <a href="http://blog.simian.co/" target="_blank">
      <img src="../img/header/our-blog.svg" alt="">
    </a>
    <a href="" ng-click="changeLanguage('es')">
      <img src="../img/header/es-button.svg" alt="">
    </a>
    <a href="" ng-click="changeLanguage('en')">
      <img src="../img/header/en-button.svg" alt="">
    </a>
  </div>
</header>
