<header>
  <a href="" ng-href="/{{$root.language}}/">
    <img src="../img/header/logo-simian.png" alt="">
  </a>

  <nav ng-hide="activeSection == '404'">
    <ul>
      <li>
        <a ng-href="{{$root.getLink('we-do', 'que-hacemos')}}"
        ng-class="{active: activeSection == 'we-do' || activeSection == 'que-hacemos'}">Qué hacemos</a>
      </li>
      <li>
        <a ng-href="{{$root.getLink('projects', 'proyectos')}}"
        ng-class="{active: activeSection == 'projects' || activeSection == 'proyectos'}">Nuestros proyectos</a>
      </li>
      <li>
        <a ng-href="{{$root.getLink('clients', 'clientes')}}"
        ng-class="{active: activeSection == 'clients' || activeSection == 'clientes'}">Quiénes han estado con nosotros</a>
      </li>
      <li>
        <a ng-href="{{$root.getLink('we-are', 'quienes-somos')}}"
        ng-class="{active: activeSection == 'we-are' || activeSection == 'quienes-somos'}">Quiénes somos</a>
      </li>
      <li>
        <a ng-href="{{$root.getLink('location', 'ubicacion')}}"
        ng-class="{active: activeSection == 'location' || activeSection == 'ubicacion'}">Donde encontrarnos</a>
      </li>
      <li>
        <a ng-href="{{$root.getLink('we-share', 'compartimos')}}"
        ng-class="{active: activeSection == 'we-share' || activeSection == 'compartimos'}">Compartimos lo que sabemos</a>
      </li>
    </ul>
  </nav>

  <div class="header-buttons" ng-hide="activeSection == '404'">
    <a href="http://blog.simian.co/" target="_blank">
      <img src="../img/header/our-blog.svg" alt="">
    </a>
    <a href="" ng-click="changeLanguage('es')">
      <img src="../img/header/es-button.svg" alt="">
    </a>
    <a href="" ng-click="changeLanguage('en')">
      <img src="../img/header/en-button.svg" alt="">
    </a>
  </div>
</header>
